@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "variables.scss";

.navbar {
    .navbar-collapse {
        justify-content: center;

        .nav-item {
            .nav-link {
                color: $secondaryDark;
                font-weight: $fontBold;
                font-size: 14px;
                line-height: 20px;
                // missing font family
            }

            .dropdown-menu {
                background: $primaryLight;
                left: 50%;
                transform: translateX(-50%);

                .dropdown-section-gray {
                    background: $neutral95;

                    .tempIcon {
                        float: left;
                    }
                }

                .dropdown-section-title {
                    color: $neutral30;
                    font-weight: $fontBold;
                    font-size: 12px;
                    line-height: 16px;
                    text-transform: uppercase;
                    // missing font family
                }

                .tempIcon {
                    margin-right: 6px;
                }

                .dropdown-item {
                    padding-left: 0;
                    padding-right: 0;
                    color: $secondaryDark;
                    font-weight: $fontBold;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 20px;
                    white-space: pre-wrap;

                    .dropdown-item-content {
                        color: $neutral45;
                        font-size: 12px;
                        line-height: 16px;
                    }

                    .dropdown-featured-title {
                        color: $secondaryDark;
                        font-weight: $fontNormal;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }

                .dropdown-link-blue {
                    font-weight: $fontSemiBold;
                    color: $primaryAccent;
                }
            }
        }
    }
}