/*! purgecss start ignore */

/*languages*/
html[lang='ja'] {
    .hide-ja {
        display: none;
    }
}
html[lang*='en'] {
    div[class*='hide-en'] {
        display: none;
    }
}

html[lang*='es'] {
    div[class*='hide-es'] {
        display: none;
    }
}

.vimeoContainer,
.wp-block-embed__wrapper {
    padding: 56.25% 0 0 0;
    position: relative;
    .vimeoFrame,
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

a[data-bs-toggle='collapse'] {
    span {
        color: inherit;
    }
    span.expandText {
        display: none;
    }
    span.collapseText {
        display: inline;
    }
    &.collapsed {
        span.expandText {
            display: inline;
        }
        span.collapseText {
            display: none;
        }
    }
}

#languageMenu {
    img.globe {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-top: -2px;
    }
}

.wp-block-image {
    .aligncenter {
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}

.pane.gated {
    display: none;
}
.pane.comp-exec-card {
    h2.heading {
        margin-bottom: 8rem;
    }
}

.company-careers {
    #wf-form-Search-Form,
    .resume-upload {
        max-width: 400px;
        width: 100%;
        margin: auto;
        position: relative;
    }

    .search-button-link-a {
        position: absolute;
        top: 7px;
        right: 12px;
    }

    .hero-or {
        margin: 20px 0;
    }

    .resume-upload {
        * {
            display: inline-block;
        }

        .cloud-image-a {
            margin-right: 18px;
            margin-top: -4px;
        }

        .upload-button-text {
            color: $neutral99;
        }
    }

    .carousel.slide {
        margin-top: 24px;
    }

    .comp-card-grid-b {
        .card {
            text-align: center;
            background: none;
            box-shadow: none;

            .card-img-top {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

            .card-body {
                padding: 20px;
                background: $neutral99;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                .card-title {
                    margin: 0;
                }
            }

            .card-footer {
                display: none;
            }
        }
    }
}

.pane-careers-cta {
    #wf-form-Search-Form,
    .resume-upload {
        width: 100%;
        margin: auto;
        position: relative;
        background: $neutral99;
        border-radius: 100px;
        border: 0;
        opacity: 1;
        display: block;
        @include media-breakpoint-up(xl) {
            float: left;
            max-width: 46%;
        }
        * {
            display: inline-block;
        }

        .cloud-image-a {
            margin-right: 18px;
            margin-top: -4px;
        }

        .upload-button-text {
            color: $primaryBlue;
            font-size: 16px;
            line-height: 24px;
        }

        .form-control {
            background: none;
            border: 0;
            font-size: 16px;
            line-height: 24px;
            color: $neutral24;
            font-family: $familyInter;
            padding: 12px 24px;
        }

        .search-button-link-a {
            position: absolute;
            top: 9px;
            right: 15px;
            width: 18px;
            height: 18px;
        }
    }

    .hero-or {
        margin: 6px 24px;
        color: $neutral99;
        background: $neutral12;
        border-radius: 8px;
        padding: 10px;
        display: inline-block;
        @include media-breakpoint-up(xl) {
            float: left;
        }
    }
}

table {
    border-spacing: 0;
    tr {
        th,
        td {
            border-bottom: 1px solid $neutral88;
        }
        th {
            font-family: $familySpaceGrotesk;
            font-weight: $fontBold;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            text-align: left;
            padding-bottom: 16px;
            padding-left: 16px;
            padding-right: 16px;
            strong {
                font-family: $familySpaceGrotesk;
            }
        }

        td {
            font-size: 16px;
            line-height: 24px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 16px;
            padding-right: 16px;
            ul li {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.gctest {
    border: 1px solid red;
}

.hero-carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-top: 24px;

    @include media-breakpoint-up(lg) {
        margin-top: 48px;
        &::before,
        &::after {
            background: linear-gradient(
                to right,
                rgba(244, 244, 246, 1) 0%,
                rgba(244, 244, 246, 0) 100%
            );
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
        }
        &:before {
            right: 80%;
            left: 0;
            display: block;
        }
        &:after {
            right: -1px;
            left: 80%;
            display: block;
            transform: rotateZ(180deg);
        }
    }
}

#hp-hero-img-carousel {
    &.carousel {
        overflow: hidden;
    }
    .carousel-inner {
        > .carousel-item {
            overflow: hidden;

            .carousel-content {
                @include media-breakpoint-up(lg) {
                    margin: 0 32px;
                }
                img {
                    @include media-breakpoint-up(lg) {
                        max-width: inherit;
                    }
                }
                .carousel-caption {
                    position: static;
                    padding-top: 0;
                    padding-bottom: 60px;
                }
                &:first-child,
                &:last-child {
                    img {
                        transform: scaleY(0.8);
                    }
                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }
            }
        }
        > .carousel-item.active {
            display: flex;
            flex-wrap: nowrap;
        }
        > .carousel-item-next {
            display: flex;
            flex-wrap: nowrap;
        }
    }
    .carousel-indicators {
        position: relative;
        button {
            background-color: $primaryBlue;
            border-radius: 100px;
            border: 0;
            height: 16px;
            width: 16px;
            margin: 0 12px;
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: inline-block;
        margin-bottom: 6px;
        position: absolute;
        top: auto;
        z-index: 99;
    }

    .carousel-control-prev {
        margin-left: -138px;
        left: auto;
    }

    .carousel-control-next {
        margin-left: 90px;
        right: auto;
    }
}

// Start vertical carousel
.vertical.carousel {
    &#hp-hero-img-carousel,
    &#hp-hero-img-carousel-reverse {
        overflow: hidden;
        height: 640px;
        display: inline-flex;
        align-items: center;

        .carousl,
        .carousel-innr,
        .carousel-inner > .carousel-item {
            overflow: hidden;
        }

        .carousel-inner {
            > .carousel-item.active {
                display: flex;
                flex-wrap: wrap;
            }
            > .carousel-item-next {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .carousel-item {
        overflow: hidden;
    }
    .carousel-item-next {
        &:not(.carousel-item-start) {
            transform: translateY(100%);
        }
    }
    .active.carousel-item-end {
        transform: translateY(100%);
    }
    .carousel-item-prev {
        &:not(.carousel-item-end) {
            transform: translateY(-100%);
        }
    }
    .active.carousel-item-start {
        transform: translateY(-100%);
    }
    .carousel-indicators {
        top: 0;
        left: unset;
        margin-left: unset !important;
        margin-right: 1rem;
        flex-direction: column;
        [data-bs-target] {
            height: 30px;
            width: 3px;
        }
    }
    .carousel-control-prev {
        width: 100%;
        height: 60px;
    }
    .carousel-control-next {
        width: 100%;
        height: 60px;
        top: unset;
        bottom: 0;
    }
    .carousel-control-prev-icon {
        transform: rotateZ(90deg);
    }
    .carousel-control-next-icon {
        transform: rotateZ(90deg);
    }
}
.vertical.carousel.vertical-reverse {
    .carousel-item {
        overflow: hidden;
    }
    .carousel-item-next {
        &:not(.carousel-item-start) {
            transform: translateY(-100%);
        }
    }
    .active.carousel-item-end {
        transform: translateY(-100%);
    }
    .carousel-item-prev {
        &:not(.carousel-item-end) {
            transform: translateY(100%);
        }
    }
    .active.carousel-item-start {
        transform: translateY(100%);
    }
}
.vertical.carousel.vertical-double {
    display: inline-block;
    max-width: 49%;
}
// End vertical carousel

.animatedText-carousel {
    font-size: inherit;
    line-height: inherit;
    .carousel-inner {
        font-size: inherit;
        line-height: inherit;
        .carousel-item {
            font-size: inherit;
            line-height: inherit;
            span {
                background: $h1Gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: inherit;
                font-weight: inherit;
                font-size: inherit;
                line-height: inherit;
                display: inline-block;
                padding: 2px;
            }
        }
    }
}

.kicker-animated {
    .h4 {
        margin-bottom: 14px;
        .animatedText-carousel {
            span {
                background: none !important;
                -webkit-background-clip: inherit !important;
                -webkit-text-fill-color: inherit !important;
                font-family: $familySpaceGrotesk;
            }
        }
    }
    h1 {
        font-size: 32px !important;
        line-height: 36px !important;

        @include media-breakpoint-up(lg) {
            font-size: 56px !important;
            line-height: 60px !important;
        }
    }
}

.hp-2023 {
    padding: 0;

    .col-lg-6 {
        position: relative;
        margin-bottom: -7px;
        // &::before,
        &::after {
            background: linear-gradient(
                to bottom,
                rgba(244, 244, 246, 1) 0%,
                rgba(244, 244, 246, 0) 100%
            );
            content: '';
            height: 100px;
            position: absolute;
            width: 94%;
            z-index: 2;
        }

        &::after {
            left: 0;
            bottom: 7px;
            transform: rotateZ(180deg);
        }

        &::before {
            // left: 0;
            // top: 0;
        }
    }
}

// Start css animation1 https://codepen.io/studiojvla/pen/qVbQqW
// if another needed could try https://codepen.io/chriscoyier/pen/EyxPPm
@mixin white-gradient {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

$animationSpeed: 30s;

// Animation
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-551px * 6));
    }
}
@keyframes scroll-reverse {
    0% {
        transform: translateY(calc(-551px * 6));
    }
    100% {
        transform: translateY(0);
    }
}

// Styling
.infinite-slider {
    float: left;
    height: 550px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 50%;

    &::before,
    &::after {
        @include white-gradient;
        content: '';
        height: 100px;
        position: absolute;
        width: 99%;
        z-index: 2;
    }

    &::after {
        left: 0;
        bottom: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        // display: flex;
        // width: calc(250px * 14);
    }

    .slide {
        // height: 100px;
        // width: 250px;
    }
}

.infinite-slider-reverse {
    .slide-track {
        animation: scroll-reverse $animationSpeed linear infinite;
    }
}
// End css animation1

.styles-2023 {
    &.hero:first-child,
    &.comp-plain-content:first-child {
        h1 {
            color: $neutral12;
            background: 0;
            -webkit-text-fill-color: initial;
            -webkit-background-clip: initial;
            font-size: 32px;
            line-height: 36px;
            @include media-breakpoint-up(lg) {
                font-size: 72px;
                line-height: 72px;
            }
        }
    }
    &.july-2023 {
        h1 + p {
            font-size: 21px;
            line-height: 28px;

            @include media-breakpoint-up(lg) {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}

// Pricing page
.pricing-tabs {
    padding: 0;
    margin-top: -67px;
    @include media-breakpoint-up(lg) {
        margin-top: -56px;
    }
    .col-lg-12 {
        display: flex;
        justify-content: center;
        gap: 32px;
        a.pricing-tab {
            max-width: 348px;
            width: 100%;
            background: $neutral96;
            border-top: 4px solid $neutral96;
            padding: 8px 24px;
            color: $neutral64;
            font-weight: $fontBold;
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            @include media-breakpoint-up(lg) {
                font-size: 21px;
                line-height: 28px;
                padding: 12px 32px;
            }
            &.pricing-tab-active {
                color: $neutral12;
                border-top: 4px solid $primaryBlue;
            }
        }
    }
}

.pricing-tabs-bai {
    display: none;
}

.pricing-table {
    overflow: scroll;
    .row {
        flex-wrap: nowrap;
        @include media-breakpoint-down(lg) {
            > div + div {
                margin-top: 0 !important;
            }
            .accordion-button .container .row div {
                background: $neutral94;
            }
            .accordion-body .container .row div {
                background: $secondaryLight;
            }
        }
    }
}

#pricingPageAccordion {
    .accordion-item {
        border: 0;
        .accordion-button,
        .accordion-body {
            padding: 0;
            .container {
                .row {
                    .col-lg-2 {
                        border-left: 1px solid $neutral84;
                    }
                    .col-lg-2,
                    .col-lg-8 {
                        padding-top: 16px;
                        padding-bottom: 16px;
                        padding-left: 24px;
                    }
                }
            }
        }
        .accordion-button {
            background-color: $neutral94;
            border-radius: 0;
            z-index: 0;
            &::after {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
                transform: scale(0.7) !important;
                position: absolute;
                left: 91%;
                @include media-breakpoint-up(lg) {
                    left: 62%;
                }
            }
            &:not(.collapsed)::after {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
            }
        }
        .accordion-body {
            .container {
                border-bottom: 1px solid $neutral84;
                &:last-child {
                    border-bottom: 0;
                }
                .col-lg-2 {
                    text-align: center;
                }
                .body1 {
                    position: relative;
                    font-weight: $fontSemiBold;
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    color: $neutral12;
                    margin-left: 40px;
                    &.collapse-btn {
                        &::before {
                            content: '';
                            background-image: url(https://static.liveperson.com/static-assets/2022/02/09152152/chevron-icon-sprite-20px%402x.png);
                            background-repeat: no-repeat;
                            background-size: 360px 20px;
                            position: absolute;
                            left: -20px;
                            top: 3px;
                            width: 18px;
                            height: 20px;
                            background-position: -243px 0px;
                        }
                        &.collapsed {
                            &::before {
                                background-position: -304px 0px;
                            }
                        }
                    }
                    & + div {
                        margin-left: 40px;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}
// End Pricing page

.media-kit-grid {
    .row.comp-card-grid-container {
        .col-lg {
            @include media-breakpoint-up(xl) {
                flex: 0 0 auto;
                width: 25%;
            }
        }
    }
}

.thisisnothingjustatestyoucandeleteifyoufindthis{
    border:0;
}

/*! purgecss end ignore */
