/*! purgecss start ignore */
.vimeoContainer, .wp-block-embed__wrapper {
    padding:56.25% 0 0 0;
    position:relative;
    .vimeoFrame, iframe {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

a[data-bs-toggle="collapse"] {
    span {
        color: inherit;
    }
    span.expandText {
        display: none;
    }
    span.collapseText {
        display: inline;
    }
    &.collapsed {
        span.expandText {
            display: inline;
        }
        span.collapseText {
            display: none;
        }
    }
}

#languageMenu {
    img.globe {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-top: -2px;
    }
}

.wp-block-image {
    .aligncenter {
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}

.pane.gated {
    display: none;
}

.company-careers {

    #wf-form-Search-Form,
    .resume-upload {
        max-width: 400px;
        width: 100%;
        margin: auto;
        position: relative;
    }

    .search-button-link-a {
        position: absolute;
        top: 7px;
        right: 12px;
    }

    .hero-or {
        margin: 20px 0;
    }

    .resume-upload {
        * {
            display: inline-block;
        }

        .cloud-image-a {
            margin-right: 18px;
            margin-top: -4px;
        }

        .upload-button-text {
            color: $neutral99;
        }
    }

    .carousel.slide {
        margin-top: 24px;
    }

    .comp-card-grid-b {
        .card {
            text-align: center;
            background: none;
            box-shadow: none;

            .card-img-top {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

            .card-body {
                padding: 20px;
                background: $neutral99;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                .card-title {
                    margin: 0;
                }
            }

            .card-footer {
                display: none;
            }
        }
    }
}

table{
    border-spacing:0;
    tr{
        th, td{
            border-bottom:1px solid $neutral88;
        }
        th{
            font-family: $familySpaceGrotesk;
            font-weight: $fontBold;
            font-size:16px;
            line-height: 24px;
            text-transform: uppercase;
            text-align: left;
            padding-bottom:16px;
            padding-left:16px;
            padding-right:16px;
            strong{
                font-family: $familySpaceGrotesk;
            }
        }

        td{
            font-size:16px;
            line-height: 24px;
            padding-top:12px;
            padding-bottom:12px;
            padding-left:16px;
            padding-right:16px;
            ul li{
                font-size:16px;
                line-height: 24px;
            }
        }
    }
}

.gctest{border:1px solid red}
/*! purgecss end ignore */