.bg-primary-light {
    background: $primaryLight;
}

.bg-neutral-84 {
    background: $neutral84;
}

.bg-neutral-92 {
    background: $neutral92;
}

.bg-neutral-96 {
    background: $neutral96;
}

.bg-primary-orange {
    background: $primaryOrange;
}

.bg-rainbow {
    background: $rainbow;

}

.bg-grad-image {
    background-image: url("https://static.liveperson.com/static-assets/2022/02/08121310/lp-gradient-10p-1-1.jpg");
    background-size: cover;
}

.bg-lavendar-20 {
    background: $lavendar20;
}

.bg-blue-20 {
    background: $blue20
}

.pane {
    padding: 80px 0;

    @include media-breakpoint-up(lg) {
        padding: 120px 0;
    }

    &.pane-with-lead-text {
        padding-top: 72px;

        @include media-breakpoint-up(lg) {
            padding-top: 104px;
        }
    }

    &.bg-primary-light {
        +.bg-primary-light {
            padding-top: 0;
        }
    }

    &.bg-neutral-84 {
        +.bg-neutral-84 {
            padding-top: 0;
        }
    }

    &.bg-neutral-92 {
        +.bg-neutral-92 {
            padding-top: 0;
        }
    }

    &.bg-neutral-96 {
        +.bg-neutral-96 {
            padding-top: 0;
        }
    }

    &.bg-blue-20 {
        +.bg-blue-20 {
            padding-top: 0;
        }
    }

    &.bg-transparent {
        +.bg-transparent {
            padding-top: 0;
        }
    }

    .container {
        .row>div+div {
            @include media-breakpoint-down(lg) {
                margin-top: 24px;
            }

        }
    }
}

img {
    max-width: 100%;
}

.display-none {
    display: none;
}

.pane:nth-child(n+4) {
    opacity: 0;
}

// .desktop-break {
//     content: ' ';

//     &:after {
//         content: ' ';
//     }

//     @media (min-width:$screen-min-lg) {
//         content: none;

//         &:after {
//             content: none;
//         }
//     }
// }

.card {
    background: $primaryLight;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-color: transparent;
    border: 0;
    padding: 48px 40px 40px;

    .card-body {
        padding: 0;

        .card-image-internal {
            margin-bottom: 24px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 34px;
            }
        }

        .card-text {
            margin-top: 0;
        }
    }

    .card-footer {
        padding: 0;
        background: none;
        border: 0;

        .card-link {
            margin-top: 27px;

            @include media-breakpoint-up(lg) {
                margin-top: 35px;
            }
        }
    }

    &.card-b {
        padding: 0;

        .card-body {
            padding: 24px 20px 0 20px;
        }

        .card-footer {
            padding: 0 20px 24px 20px;

            .card-link {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    &.card-team {
        padding: 0;
        background: 0;
        box-shadow: none;

        .card-img-top {
            margin-bottom: 24px;
        }

        .card-body {
            .card-title {
                margin-bottom: 4px;
            }

            .card-text {
                font-style: italic;
            }
        }

        .card-footer {
            margin-top: 20px;

            .btn {
                color: $neutral12;
                border: 1px solid $neutral12;

                &:hover {
                    color: $primaryLight;
                    background: $neutral12;
                }
            }
        }
    }
}

// On homepage
.logo-wall {
    margin-top: 16px;
}

.hero {
    .btn {
        margin-top: 36px;
        display: block;

        @include media-breakpoint-up(lg) {
            margin-top: 40px;
            margin-right: 16px;
            display: inline-block;
        }
    }
}

.comp-left-right {
    &.comp-left-right-repeat {
        padding-bottom: 56px;

        @include media-breakpoint-up(lg) {
            padding-bottom: 72px;
        }
    }

    h6 {
        margin-bottom: 8px;
    }

    .btn {
        margin-top: 20px;

        @include media-breakpoint-up(lg) {
            margin-top: 40px;
        }

        &.btn-outline-secondary {
            margin-right: 20px;

            +.btn-link {
                padding: 12px 32px;

                @include media-breakpoint-up(lg) {
                    margin-top: 40px;
                }
            }
        }

        &.btn-link {
            padding: 0;

            @include media-breakpoint-up(lg) {
                margin-top: 31px;
            }
        }
    }

}



.comp-card-grid {
    h2 {
        margin-bottom: 20px;
    }

    .comp-card-grid-container {
        @include media-breakpoint-up(lg) {
            margin-left: -32px;
            margin-right: -32px;
        }

        .carousel-inner {
            padding-bottom: 7px;
        }

        .carousel-control-prev,
        .carousel-control-next {
            @include media-breakpoint-up(lg) {
                top: -62px;
            }
        }

        .carousel-control-prev {
            @include media-breakpoint-up(lg) {
                left: 1242px;
            }
        }

        .carousel-control-next {
            @include media-breakpoint-up(lg) {
                right: 36px;
            }
        }

        .carousel-item .col-lg-4 {
            margin-top: 20px;

            @include media-breakpoint-up(lg) {
                margin-top: 48px;
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        @include media-breakpoint-down(lg) {
            .carousel-inner .carousel-item>div {
                display: none;
            }

            .carousel-inner .carousel-item>div:first-child {
                display: block;
            }
        }

        .carousel-inner .carousel-item.active,
        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
            display: flex;
        }

        /* medium and up screens */
        @include media-breakpoint-up(lg) {

            .carousel-inner .carousel-item-end.active,
            .carousel-inner .carousel-item-next {
                transform: translateX(33.33%);
            }

            .carousel-inner .carousel-item-start.active,
            .carousel-inner .carousel-item-prev {
                transform: translateX(-33.33%);
            }
        }

        .carousel-inner .carousel-item-end,
        .carousel-inner .carousel-item-start {
            transform: translateX(0);
        }

    }
}

.comp-stat-grid {
    .comp-4col-grid {
        margin-top: 32px;
        padding: 48px 21px;
        background: $lavendar20;

        @include media-breakpoint-up(lg) {
            margin-top: 48px;
            padding: 48px 32px;
        }

        .col {
            border-right: 1px solid $neutral12;
            margin-top: 24px;
            margin-bottom: 24px;

            @include media-breakpoint-up(lg) {
                margin-top: 0;
                margin-bottom: 0;
            }

            &:last-child {
                border-right: 0;
            }

            &:nth-child(even) {
                @include media-breakpoint-down(lg) {
                    border-right: 0;
                }
            }

            .h1 {
                background: -webkit-linear-gradient(90deg, #3863E5 0%, #8D46EB 86.36%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .subtitle2 {
        margin-top: 8px;
    }
}

.comp-callout-grid {
    .comp-callout-grid-container {
        margin-top: 48px;

        .h6 {
            margin-top: 24px;
            margin-bottom: 8px;
        }

        .subtitle2 {
            margin-top: 16px;
        }
    }
}

.comp-tabs-c {

    .pills-container {
        margin: 32px 0;

        @include media-breakpoint-up(lg) {
            margin: 48px 0;
            width: auto !important;
        }

        .pill {
            margin: 0 8px;
        }
    }

    .comp-tabs-content {
        padding: 40px 20px;

        @include media-breakpoint-up(lg) {
            padding: 0;
        }

        img {
            margin-bottom: 24px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 32px;
            }
        }

        .h6 {
            margin-bottom: 8px;
        }

        p {
            margin-top: 8px;
        }

        .btn-outline-secondary {
            margin-top: 24px;
        }
    }

    .pills-mobile-scroll {
        overflow: scroll;

        @include media-breakpoint-up(lg) {
            overflow: auto;
        }
    }

}

.comp-tabs-b {
    .row {
        position: relative;

        h2 {
            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 0;
            }
        }

        .comp-tabs-list-container {
            .comp-tab {
                color: $neutral64;
                padding: 8px 0;
                margin: 8px 0;
                cursor: pointer;

                &.comp-tab-active {
                    color: $neutral12;
                    border-bottom: 1px solid $neutral72;
                }
            }
        }

        .comp-tabs-content-container {
            z-index: 1;

            @include media-breakpoint-up(lg) {
                position: absolute;
                max-width: 528px;
                margin-left: 331px;
            }

            .comp-tabs-content {
                padding: 40px 20px;
                border-radius: 8px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

                @include media-breakpoint-up(lg) {
                    padding: 48px 64px;
                    width: 528px;
                }

                p.h6 {
                    margin-bottom: 8px;
                }

                p {
                    margin-top: 16px;
                }
            }
        }

        .comp-tabs-img-container {
            margin-top: -88px !important;
            z-index: 0;

            @include media-breakpoint-up(lg) {
                margin-top: 0 !important;
            }

            @include media-breakpoint-down(lg) {
                padding: 0;
            }
        }
    }

}

.comp-tabs-a {
    .row.align-items-center {
        margin-top: 48px;

        @include media-breakpoint-up(lg) {
            margin-top: 72px;
        }
    }

    .comp-content-container {
        .accordion-item {
            background: none;
            border: 0;
            padding-left: 20px;
            border-left: 2px solid $neutral88;


            &.accordion-item-active {
                border-left-color: $primaryBlue;

                button {
                    color: $neutral12;
                    padding-bottom: 8px;
                }

                .subtitle1 {
                    padding-bottom: 20px;
                }

            }

            button {
                background: none;
                border: 0;
                margin: 0;
                padding: 20px 0;
                color: $neutral64;
                text-align: left;
            }
        }
    }
}

.comp-icon-text-a {

    .comp-block-grid-container {
        .col {
            margin-top: 48px;

            @include media-breakpoint-up(lg) {
                margin-top: 72px;
            }
        }

        img {
            margin-bottom: 16px;
        }

        h3 {
            margin-bottom: 8px;
        }
    }
}

.comp-icon-text-b {
    .comp-card-grid-container {
        .col {
            margin-top: 24px;

            @include media-breakpoint-up(lg) {
                margin-top: 32px;
            }

            .card-image-internal {
                margin-bottom: 16px;
            }

            h3 {
                margin-bottom: 8px;
            }
        }
    }
}

.comp-icon-text-d {

    .comp-block-grid-container {
        .col {
            margin-top: 24px;

            @include media-breakpoint-up(lg) {
                margin-top: 32px;
            }

            .comp-body-container {
                padding: 40px 20px;
                height: 100%;

                @include media-breakpoint-up(lg) {
                    padding: 40px 60px;
                }

                img {
                    margin-bottom: 16px;
                }

                h3 {
                    margin-bottom: 8px;
                }

                p {
                    margin-top: 0;
                }
            }
        }
    }
}

.card.icon-text-cta {
    border: 2px solid;
    border-image: $borderGradient 1;
    border-radius: 0;
    box-shadow: none;
    background: none;

    .card-body.d-flex {
        h3 {
            margin-bottom: 24px;
        }
    }
}

.comp-logo-universal {
    h2 {
        margin-bottom: 48px;
    }

    img {
        padding: 12px 0;

        @include media-breakpoint-up(lg) {
            padding: 0;
        }
    }
}

.comp-quote-slider {
    .comp-slider-container {
        padding-top: 72px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;

        @include media-breakpoint-up(lg) {
            padding-top: 104px;
            padding-bottom: 120px;
            padding-left: 0px;
            padding-right: 0px;
        }

        h2 {
            margin-bottom: 20px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 72px;
            }
        }

        .comp-brand-img {
            padding-right: 16px;
            border-right: 1px solid $neutral80;
        }

        .comp-quote-author {
            display: inline-block;
            padding-left: 16px;
        }

        .quote2 {
            margin-bottom: 20px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 32px;
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            @include media-breakpoint-up(lg) {
                top: -104px;
            }
        }

        .carousel-control-prev {
            @include media-breakpoint-up(lg) {
                left: 1112px;
            }
        }

        .carousel-control-next {
            @include media-breakpoint-up(lg) {
                right: 112px;
            }
        }
    }
}

.comp-contained-content {
    .comp-contained-content-container {
        padding-top: 72px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;

        @include media-breakpoint-up(lg) {
            padding-top: 104px;
            padding-bottom: 120px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .h6 {
            margin-bottom: 8px;
        }

        .btn {
            margin-top: 28px;

            @include media-breakpoint-up(lg) {
                margin-top: 40px;
            }
        }

        img {
            margin-top: 48px;

            @include media-breakpoint-up(lg) {
                margin-top: 72px;
            }
        }
    }
}

.comp-content-cta {
    .comp-content-cta-container {
        padding-top: 40px;
        padding-bottom: 48px;
        padding-left: 20px;
        padding-right: 20px;

        @include media-breakpoint-up(lg) {
            padding-top: 72px;
            padding-bottom: 76px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

.comp-side-side {
    img {
        margin-bottom: 24px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 32px;
        }
    }
}

.comp-scroll-horizontal-text {
    .comp-scroll-horizontal-header {
        margin-bottom: 48px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 72px;
        }
    }

    .comp-scroll-horizontal-text-block {
        margin-bottom: 48px;

        &:first-of-type {
            margin-top: 8px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        p {
            margin-top: 8px;
        }
    }

    .comp-scroll-horizontal-scroll {
        position: sticky;
        top: 84px;
    }
}

.comp-horizontal-text {
    .comp-horizontal-text-block {
        padding-top: 40px;
        padding-bottom: 48px;
        border-bottom: 1px solid;
        border-image: $borderGradient 1;

        @include media-breakpoint-up(lg) {
            padding-top: 72px;
            padding-bottom: 72px;
        }

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            padding-bottom: 0;
            border: 0;
        }

        p {
            margin-top: 8px;
        }
    }
}

.comp-faq {
    h2 {
        margin-bottom: 28px;
        margin-top: 8px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
        }
    }

    .comp-content-container {
        .accordion-item {
            background: none;
            border: 0;
            padding-top: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid $neutral84;


            &.accordion-item-active {
                border-left-color: $primaryBlue;

                button {
                    margin-bottom: 8px;
                }

            }

            button {
                background: none;
                border: 0;
                margin: 0;
                padding: 0;
                font-weight: $fontBold;
                text-align: left;
            }

            .subtitle1 {
                margin-top: 8px;
            }
        }
    }
}

.comp-card-grid-b {
    .comp-card-grid-container {
        .col-12 {
            margin-top: 24px;

            @include media-breakpoint-up(lg) {
                margin-top: 32px;
            }
        }
    }
}

.comp-program-card {
    .comp-program-card-container {
        padding: 24px 20px 36px 20px;
        margin-bottom: 24px;

        @include media-breakpoint-up(lg) {
            padding: 72px 0;
            margin-bottom: 48px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        .event-date {
            margin-top: 16px;
            margin-bottom: 4px;
            margin-bottom: 4px;

            @include media-breakpoint-up(lg) {
                margin-top: 24px;
                margin-right: 32px;
            }
        }

        .event-date,
        .event-time {
            display: block;

            @include media-breakpoint-up(lg) {
                display: inline-block;
            }
        }

        .event-body {
            a {
                color: $neutral12;
                font-size: 14px;
                line-height: 20px;
                display: block;

                @include media-breakpoint-up(lg) {
                    display: inline-block;
                    margin-left: 8px;
                }
            }
        }

        .subtitle3 {
            margin-bottom: 8px;
        }

        .btn {
            margin-top: 32px;
        }
    }
}

.pane.comp-team-cards {
    .comp-team-cards-container {
        .col-12 {
            margin-top: 32px;

            @include media-breakpoint-up(lg) {
                margin-top: 72px;
            }
        }
    }
}

.comp-exec-card {
    .comp-exec-card-container {
        padding: 24px 20px 36px 20px;
        margin-bottom: 24px;

        @include media-breakpoint-up(lg) {
            padding: 72px 0;
            margin-bottom: 48px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        .body2 {
            margin-top: 4px;
            margin-bottom: 20px;
            font-style: italic;
        }

        .btn {
            color: $neutral12;
            border: 1px solid $neutral12;

            &:hover {
                color: $primaryLight;
                background: $neutral12;
            }
        }

        .subtitle1 {
            margin-top: 20px;
        }
    }
}

.component-doc {
    padding: 20px 0;
    width: 90%;

    .row {
        div {
            border: 1px solid red;

            p {
                margin-bottom: 6px;
            }
        }
    }
}

.comp-plain-content {
    .h6 {
        margin-bottom: 8px;
    }
}

.carousel.slide {

    .carousel-control-prev,
    .carousel-control-next {
        background: red;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 40px;

        @include media-breakpoint-up(lg) {
            position: absolute;
            display: flex;
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}