.pane {
    &.bg-primary-light {
        background: $light;
    }

    &.bg-neutral-84 {
        background: $neutral84;
    }

    &.bg-neutral-92 {
        background: $neutral92;
    }
}

img {
    max-width: 100%;
}