.pane {
    padding: 80px 0;

    @include media-breakpoint-up(lg) {
        padding: 120px 0;
    }

    &.bg-primary-light {
        background: $light;

        +.bg-primary-light {
            padding-top: 0;
        }
    }

    &.bg-neutral-84 {
        background: $neutral84;

        +.bg-neutral-84 {
            padding-top: 0;
        }
    }

    &.bg-neutral-92 {
        background: $neutral92;

        +.bg-neutral-84 {
            padding-top: 0;
        }
    }
}

img {
    max-width: 100%;
}