.bg-primary-light {
    background: $primaryLight;
}

.bg-neutral-84 {
    background: $neutral84;
}

.bg-neutral-92 {
    background: $neutral92;
}

.pane {
    padding: 80px 0;

    @include media-breakpoint-up(lg) {
        padding: 120px 0;
    }

    &.bg-primary-light {
        +.bg-primary-light {
            padding-top: 0;
        }
    }

    &.bg-neutral-84 {
        +.bg-neutral-84 {
            padding-top: 0;
        }
    }

    &.bg-neutral-92 {
        +.bg-neutral-84 {
            padding-top: 0;
        }
    }

    .container {
        .row>div+div {
            @include media-breakpoint-down(lg) {
                margin-top: 24px;
            }

        }
    }
}

img {
    max-width: 100%;
}

.display-none {
    display: none;
}

.card {
    background: $primaryLight;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-color: transparent;
    padding: 48px 40px 40px;

    .card-body {
        padding: 0;

        .card-image-internal {
            margin-bottom: 24px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 34px;
            }
        }
    }

    .card-footer {
        padding: 0;
        background: none;
        border: 0;

        .card-link {
            margin-top: 27px;

            @include media-breakpoint-up(lg) {
                margin-top: 35px;
            }
        }
    }
}

// On homepage
.logo-wall {
    margin-top: 16px;

    img {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.comp-left-right {
    &.comp-left-right-repeat {
        padding-bottom: 56px;

        @include media-breakpoint-up(lg) {
            padding-bottom: 72px;
        }
    }

    h6 {
        margin-bottom: 8px;
    }

}



.comp-card-grid {
    .comp-card-grid-container {
        margin-top: 60px;

        @include media-breakpoint-up(lg) {
            margin-top: 72px;
        }
    }
}

.comp-stat-grid {
    .comp-4col-grid {
        margin-top: 32px;
        padding: 48px 21px;

        @include media-breakpoint-up(lg) {
            margin-top: 48px;
            padding: 48px 32px;
        }
    }

    .subtitle2 {
        margin-top: 8px;
    }
}

.comp-callout-grid {
    .comp-callout-grid-container {
        margin-top: 48px;

        .h6 {
            margin-top: 24px;
            margin-bottom: 8px;
        }

        .subtitle2 {
            margin-top: 16px;
        }
    }
}

.comp-tabs-c {

    .pills-container {
        margin: 32px 0;

        @include media-breakpoint-up(lg) {
            margin: 48px 0;
        }

        .pill {
            margin: 0 8px;
        }
    }

    .comp-tabs-content {

        h3 {
            margin-top: 24px;

            @include media-breakpoint-up(lg) {
                margin-top: 32px;
            }
        }

        p {
            margin-top: 8px;
        }

        .btn-outline-secondary {
            margin-top: 24px;
        }
    }

    // .container>.comp-tabs-content {
    //     display: flex;

    //     ~.comp-tabs-content {
    //         display: none;
    //     }
    // }



}

.comp-tabs-b {
    .row {
        position: relative;

        h2 {
            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 0;
            }
        }

        .comp-tabs-list-container {
            .comp-tab {
                color: $neutral64;
                padding: 8px 0;
                margin: 8px 0;
                cursor: pointer;

                &.comp-tab-active {
                    color: $neutral12;
                    border-bottom: 1px solid $neutral72;
                }
            }
        }

        .comp-tabs-content-container {
            z-index: 1;

            @include media-breakpoint-up(lg) {
                position: absolute;
                max-width: 528px;
                margin-left: 331px;
            }

            .comp-tabs-content {
                padding: 40px 20px;
                border-radius: 8px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

                @include media-breakpoint-up(lg) {
                    padding: 48px 64px;
                    width: 528px;
                }

                p.h6 {
                    margin-bottom: 8px;
                }

                p {
                    margin-top: 16px;
                }
            }
        }

        .comp-tabs-img-container {
            margin-top: -88px;
            z-index: 0;

            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }

            @include media-breakpoint-down(lg) {
                padding: 0;
            }
        }
    }

}

.comp-tabs-a {
    h2 {
        margin-bottom: 48px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 72px;
        }
    }

    .comp-content-container {
        .accordion-item {
            background: none;
            border: 0;
            padding-left: 20px;
            border-left: 2px solid $neutral88;


            &.accordion-item-active {
                border-left-color: $primaryBlue;

                button {
                    color: $neutral12;
                }

            }

            button {
                background: none;
                border: 0;
                margin: 0;
                padding: 20px 0;
                color: $neutral64;
            }

            .subtitle1 {
                margin-top: 8px;
            }
        }
    }
}

.comp-icon-text-a {

    .comp-block-grid-container {
        .col {
            margin-top: 48px;

            @include media-breakpoint-up(lg) {
                margin-top: 72px;
            }

            &:last {
                border: 1px solid red;
            }
        }

        img {
            margin-bottom: 16px;
        }

        .card1 {
            margin-bottom: 8px;
        }
    }
}