.pane-form {
    mkto-after {
        display: none;
    }
    text-align: center;
    z-index: 100;
    display: block !important;
    opacity: 1 !important;

    &.swapPosition {
        position: absolute;
        width: 100%;
        z-index: 999999999;
    }

    &.bg-neutral-96 {
        background: $neutral96;
    }

    &.bg-rainbow {
        background: linear-gradient(90deg, #AAD5EA 0%, #C1C1F3 33.3%, #F7B1B1 66.6%, #F7B995 100%);
    }

    .container {

        h2 {
            margin-bottom: 48px;
            background: -webkit-linear-gradient(90deg, #3863E5 0%, #8D46EB 86.36%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .mobileForm {
            display: none;
        }
    }

    &.form--sticky {
        position: sticky;
        top: 0;
        display: none;
        padding: 16px 0;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        .container {
            .mobileForm {
                display: block;

                .span1 {
                    display: inline-block;
                    padding: 10px !important;
                    border-radius: 24px;
                    background: $neutral12 !important;
                    font-size: 16px;
                    font-weight: $fontBold;
                    font-family: $familySpaceGrotesk;
                    line-height: 24px;
                    width: 100%;
                    color: #fff;
                    text-align: center;
                    margin: auto;
                    cursor: pointer;
                    text-decoration: none;

                    @include media-breakpoint-up(lg) {
                        display: none;
                    }
                }

                .span1.swap,
                .span2 {
                    display: none;
                }

                .span2.swap {
                    display: block;
                    width: 40px;
                    margin: auto;
                    margin-bottom: 12px;
                }
            }
            
            form {
                @include media-breakpoint-up(lg) {
                    height: 48px;
                    transition: .5s opacity ease;
                    opacity: 0;
                }
            }

            .mktoForm {
                display: none;
                opacity: 1;
                

                @include media-breakpoint-up(lg) {
                    display: block;
                }
            }
            
            
        }
        
    }
    
    .mktoForm {

        width: 100% !important;
        margin: 0 auto;
        text-align: center !important;
        padding: 0;
        display: block;

        .mktoFormRow {
            clear: none;
            float: left;
            width: 100% !important;

            @include media-breakpoint-up(lg) {
                width: 23% !important;
                margin-right: 12px;
            }

            .mktoFormCol {
                margin-bottom: 0 !important;
                float: none;

                .mktoFieldWrap {
                    width: 100%;

                    input {

                        border-radius: 4px;
                        border: 0;
                        background: $neutral99;
                        padding: 20px !important;
                        font-size: 16px !important;
                        line-height: 24px !important;
                        color: $neutral24;
                        font-family: $familyInter;
                        margin-bottom: 16px;
                        width: 100% !important;

                        @include media-breakpoint-up(lg) {
                            width: 100% !important;
                            padding: 12px 40px 12px 12px !important;
                            margin-bottom: 0;
                        }

                        &:focus {
                            border-bottom-color: $neutral24;
                        }

                        &:-webkit-autofill,
                        &:-webkit-autofill:hover,
                        &:-webkit-autofill:focus {
                            -webkit-text-fill-color: $neutral24;
                            -webkit-box-shadow: 0 0 0px 1000px transparent inset;
                            box-shadow: 0 0 0px 1000px transparent inset;
                            transition: background-color 5000s ease-in-out 0s;
                            font-size: 16px !important;
                        }

                        &.mktoField {
                            &::placeholder {
                                color: $neutral24;
                            }

                            &::-webkit-input-placeholder {
                                color: $neutral24;
                            }
                        }
                    }
                }


            }


        }

        .mktoButtonRow {
            width: 100%;

            @include media-breakpoint-up(lg) {
                float: left;
                width: 25%;
            }

            .mktoButtonWrap {
                margin-left: 0 !important;

                button {
                    font-family: $familySpaceGrotesk;
                    border-radius: 24px;
                    padding: 10px !important;
                    text-decoration: none;
                    cursor: pointer;
                    font-weight: $fontBold;
                    display: inline-block;
                    border: 0 !important;
                    background: $neutral12 !important;
                    font-size: 16px !important;
                    line-height: 24px;
                    width: 100%;

                    @include media-breakpoint-up(lg) {
                        padding: 12px 20px !important;
                        width: 100%;
                    }

                    &:hover {
                        background: #0040d6 !important;
                    }
                }

            }
        }



        .mktoAsterix,
        .mktoGutter,
        .mktoOffset,
        label {
            display: none;
        }
    }

    .thank-you-message {
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-align: center;
        padding: 9px 0;

        a {
            color: $primaryBlue !important;
            text-decoration: underline;
            font-size: inherit;
        }
    }

    div.thank-you {
        .check-mark {
            float: left;
        }

        &>.thank-you-message {
            font-size: 20px;
            line-height: 28px;
            max-width: 600px;
            float: left;
            text-align: left;
            padding: 9px 0;

            a {
                color: $primaryBlue !important;
                text-decoration: underline;
            }
        }
    }

}

body.locked {
    position: fixed;
}