.pane-form {
    text-align: center;
    position: sticky;
    z-index: 100;
    display: block !important;
    top: 0;
    background: linear-gradient(90deg, #AAD5EA 0%, #C1C1F3 33.3%, #F7B1B1 66.6%, #F7B995 100%);
    padding: 16px 0;

    &.swapPosition {
        position: absolute;
        width: 100%;
        z-index: 999999999;
    }

    .container {


        .mobileForm {

            .span1 {
                display: inline-block;
                padding: 10px !important;
                border-radius: 24px;
                background: $neutral12 !important;
                font-size: 16px;
                font-weight: $fontBold;
                font-family: $familySpaceGrotesk;
                line-height: 24px;
                width: 100%;
                color: #fff;
                text-align: center;
                margin: auto;
                cursor: pointer;
                text-decoration: none;

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }

            .span1.swap,
            .span2 {
                display: none;
            }

            .span2.swap {
                display: block;
                width: 40px;
                margin: auto;
                margin-bottom: 12px;
            }
        }
    }




    .mktoForm {

        width: 100% !important;
        margin: 0 auto;
        text-align: center !important;
        padding: 0;
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        .mktoFormRow {
            clear: none;
            float: left;
            width: 100% !important;

            @include media-breakpoint-up(lg) {
                width: auto !important;
            }

            .mktoFormCol {
                margin-bottom: 0 !important;

                input {

                    border-radius: 4px;
                    border: 0;
                    background: $neutral99;
                    padding: 20px !important;
                    font-size: 16px !important;
                    line-height: 24px !important;
                    color: $neutral24;
                    font-family: $familyInter;
                    margin-right: 0 !important;
                    margin-bottom: 16px;
                    width: 100% !important;

                    @include media-breakpoint-up(lg) {
                        width: 340px !important;
                        padding: 12px 40px 12px 12px !important;
                        margin-right: 12px !important;
                        margin-bottom: 0;
                    }

                    &:focus {
                        border-bottom-color: $neutral24;
                    }

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus {
                        -webkit-text-fill-color: $neutral24;
                        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
                        box-shadow: 0 0 0px 1000px transparent inset;
                        transition: background-color 5000s ease-in-out 0s;
                        font-size: 16px !important;
                    }

                    &.mktoField {
                        &::placeholder {
                            color: $neutral24;
                        }

                        &::-webkit-input-placeholder {
                            color: $neutral24;
                        }
                    }
                }
            }


        }

        .mktoButtonRow {
            width: 100%;

            @include media-breakpoint-up(lg) {
                float: right;
                width: auto;
            }

            .mktoButtonWrap {
                margin-left: 0 !important;

                button {
                    font-family: $familySpaceGrotesk;
                    border-radius: 24px;
                    padding: 10px !important;
                    text-decoration: none;
                    cursor: pointer;
                    font-weight: $fontBold;
                    display: inline-block;
                    border: 0 !important;
                    background: $neutral12 !important;
                    font-size: 16px !important;
                    line-height: 24px;
                    width: 100%;

                    @include media-breakpoint-up(lg) {
                        padding: 12px 51px !important;
                        width: 256px;
                    }

                    &:hover {
                        background: #0040d6 !important;
                    }
                }

            }
        }



        .mktoAsterix,
        .mktoGutter,
        .mktoOffset,
        label {
            display: none;
        }
    }

    .thank-you-message {
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-align: center;
        padding: 9px 0;

        a {
            color: $primaryBlue !important;
            text-decoration: underline;
        }
    }

    div.thank-you {
        .check-mark {
            float: left;
        }

        &>.thank-you-message {
            font-size: 20px;
            line-height: 28px;
            max-width: 600px;
            float: left;
            text-align: left;
            padding: 9px 0;

            a {
                color: $primaryBlue !important;
                text-decoration: underline;
            }
        }
    }

}

body.locked {
    position: fixed;
}