header {
    top: 0;
    z-index: 3;
    @include media-breakpoint-up(lg) {
        position: sticky;
    }
}

.navbar {
    background: $neutral99;
    padding: 15px 0px;

    @include media-breakpoint-up(lg) {
        padding: 13px 0;
    }

    > .container {
        @include media-breakpoint-down(lg) {
            padding: 0;
        }

        > a img {
            @include media-breakpoint-down(lg) {
                padding-left: 20px;
            }
        }

        .navbar-toggler {
            margin-right: 20px;
            border: 0;
            box-shadow: none;
            .navbar-toggler-icon {
                background-image: url(https://static.liveperson.com/static-assets/2022/04/14143526/mobile-menu.svg);
            }
        }

        .navbar-collapse {
            justify-content: inherit;

            .navbar-nav {
                &:not(.login-menu) {
                    margin: auto;
                }

                &.login-menu {
                    margin-left: 0;

                    .nav-item:last-child {
                        margin-right: 0;
                        background-color: $neutral96;
                        padding: 16px 20px;

                        @include media-breakpoint-up(lg) {
                            background-color: transparent;
                            padding: 0;
                        }

                        .btn {
                            display: block;
                            padding-top: 12px;
                            padding-bottom: 12px;
                            color: $neutral99;

                            @include media-breakpoint-up(lg) {
                                margin-top: 3px;
                                padding: 8px 16px;
                            }
                        }
                    }
                }

                .nav-item {
                    border-bottom: 1px solid $neutral84;

                    @include media-breakpoint-up(lg) {
                        margin-right: 15px;
                        border: 0;
                    }

                    @include media-breakpoint-up(xl) {
                        margin-right: 18px;
                        border: 0;
                    }

                    .nav-link {
                        color: $neutral24;
                        font-weight: $fontBold;
                        font-size: 14px;
                        line-height: 20px;
                        font-family: $familySpaceGrotesk;
                        padding: 18px 20px;

                        @include media-breakpoint-up(lg) {
                            padding: 9px;
                        }

                        &.dropdown-toggle::after {
                            border: 0;
                            content: '';
                            background-image: url(https://static.liveperson.com/static-assets/2022/02/09152152/chevron-icon-sprite-20px%402x.png);
                            background-repeat: no-repeat;
                            background-size: 360px 20px;
                            position: absolute;
                            right: 25px;
                            width: 18px;
                            height: 20px;
                            background-position: -243px 0px;

                            @include media-breakpoint-up(lg) {
                                right: auto;
                                top: 10px;
                            }
                        }

                        &.show {
                            @include media-breakpoint-down(lg) {
                                background: $neutral96;
                                border-bottom: 1px solid $neutral84;
                            }

                            &::after {
                                background-position: -263px 0px;
                            }
                        }
                    }

                    .dropdown-menu {
                        padding: 0;
                        margin: 0;
                        border: 0;
                        border-radius: 0;
                        background: $neutral99;

                        .container {
                            padding: 0;

                            & > .row {
                                box-shadow: -10px 4px 8px $dropShadow,
                                    10px 4px 8px $dropShadow,
                                    inset 0 0 8px $dropShadow;
                            }
                        }

                        @include media-breakpoint-up(lg) {
                            left: 50%;
                            transform: translateX(-50%);
                            margin-top: 13px;
                        }

                        @include media-breakpoint-up(lg) {
                            &.container-20 {
                                width: 20%;
                            }

                            &.container-40 {
                                width: 40%;
                            }

                            &.container-60 {
                                width: 60%;
                            }

                            &.container-80 {
                                width: 80%;
                            }
                        }

                        .dropdown-section-gray {
                            background: $neutral95;

                            .tempIcon {
                                float: left;
                            }
                        }

                        .dropdown-section-title {
                            color: $neutral16;
                            text-transform: uppercase;
                            font-family: $familySpaceGrotesk;
                            margin-bottom: 14px;

                            @include media-breakpoint-up(lg) {
                                margin-bottom: 6px;
                                margin-left: 10px;
                            }
                        }

                        .tempIcon {
                            margin-right: 6px;
                        }

                        .col-lg {
                            background: $neutral96;
                            padding: 24px 34px;
                            border-bottom: 1px solid $neutral84;

                            @include media-breakpoint-up(lg) {
                                background: $neutral99;
                                padding-top: 40px;
                                padding-bottom: 48px;
                                padding-right: 30px;
                                padding-left: 0;
                                border: 0;
                            }

                            &:first-child {
                                @include media-breakpoint-up(lg) {
                                    padding-left: 30px;
                                }
                            }

                            .dropdown-item {
                                color: $neutral12;
                                font-weight: $fontBold;
                                font-family: $familySpaceGrotesk;
                                font-size: 14px;
                                line-height: 20px;
                                white-space: pre-wrap;
                                padding: 10px 0;
                                position: relative;

                                @include media-breakpoint-up(lg) {
                                    padding: 10px;
                                }

                                .dropdown-item-span {
                                    margin: 0 !important;
                                    padding: 0 !important;
                                    font-weight: $fontBold;
                                    font-family: $familySpaceGrotesk;
                                    font-size: 14px;
                                    line-height: 20px;
                                    display: block;

                                    &.link-external::after {
                                        content: '';
                                        background-image: url(https://static.liveperson.com/static-assets/2023/02/14115222/arrow-icon-sprite-20px%402x.png);
                                        background-repeat: no-repeat;
                                        background-size: 400px 20px;
                                        position: absolute;
                                        width: 18px;
                                        height: 20px;
                                        background-position: -279px 0px;
                                    }
                                }

                                &:hover {
                                    background: $neutral96;
                                }

                                &.nav-icon {
                                    .dropdown-item-span {
                                        padding-left: 24px !important;
                                    }

                                    &::before {
                                        content: '';
                                        background-image: url(https://static.liveperson.com/static-assets/2023/05/16140638/nav-icon-sprite-18px%402x-1.png);
                                        background-repeat: no-repeat;
                                        background-size: 324px 18px;
                                        position: absolute;
                                        width: 18px;
                                        height: 18px;
                                    }
                                }

                                &.nav-commerce::before {
                                    background-position: -108px 0px;
                                }

                                &.nav-customer-care::before {
                                    background-position: -89px 0px;
                                }

                                &.nav-telco::before {
                                    background-position: -36px 0px;
                                }

                                &.nav-healthcare::before {
                                    background-position: -55px 0px;
                                }

                                &.nav-finserv::before {
                                    background-position: 0px 0px;
                                }

                                &.nav-retail::before {
                                    background-position: -18px 0px;
                                }

                                &.nav-travel::before {
                                    background-position: -53px 0px;
                                }

                                &.nav-automotive::before {
                                    background-position: -72px 0px;
                                }

                                &.nav-defi::before {
                                    background-position: -144px 0px;
                                }

                                &.nav-conv-ai::before {
                                    background-position: -144px 0px;
                                }

                                &.nav-conv-intel::before {
                                    background-position: -162px 0px;
                                }

                                &.nav-conv-cloud::before {
                                    background-position: -180px 0px;
                                }

                                &.nav-integrations::before {
                                    background-position: -198px 0px;
                                }

                                &.nav-conv-channels::before {
                                    background-position: -216px 0px;
                                }

                                &.nav-call-reduction::before {
                                    background-position: -126px 0px;
                                }

                                &.nav-voiceai::before {
                                    background-position: -234px 0px;
                                }

                                &.nav-b2b-sm::before {
                                    background-position: -252px 0px;
                                }

                                &.nav-itsm::before {
                                    background-position: -270px 0px;
                                }

                                &.nav-pro-services::before {
                                    background-position: -288px 0px;
                                }

                                &.nav-tech-support::before {
                                    background-position: -306px 0px;
                                }

                                .dropdown-item-content {
                                    color: $neutral24;
                                    margin-top: 4px;
                                    font-weight: $fontNormal;
                                }

                                .dropdown-featured-title {
                                    color: $secondaryDark;
                                    font-weight: $fontNormal;
                                    font-size: 12px;
                                    line-height: 16px;
                                }

                                .dropdown-link-blue {
                                    font-weight: $fontSemiBold;
                                    color: $primaryBlue;
                                }

                                svg {
                                    height: 10px;
                                    width: 10px;
                                }
                            }
                        }
                    }

                    &.resources,
                    // &.solutions,
                    &.about {
                        .col-lg:last-child {
                            background: $neutral92;
                            border-bottom: 0;

                            @include media-breakpoint-up(lg) {
                                padding-left: 40px;
                                background: $neutral96;
                            }

                            .dropdown-section-title {
                                margin-left: 0;
                                margin-bottom: 16px;
                            }

                            .dropdown-item {
                                background: $neutral99;
                                border-radius: 48px;
                                padding: 12px 40px 12px 84px;
                                margin-bottom: 12px;

                                &:hover {
                                    background: $neutral94;
                                }

                                &.cloud {
                                    background-image: url(https://static.liveperson.com/static-assets/2022/02/01233807/icon_product-conversational-cloud_circle-gradient.png);
                                    background-repeat: no-repeat;
                                    background-position: 12px 50%;
                                }

                                &.health {
                                    background-image: url(https://static.liveperson.com/static-assets/2022/02/01233808/icon_product-bella-health_circle-gradient.png);
                                    background-repeat: no-repeat;
                                    background-position: 12px 50%;
                                }

                                &.voice {
                                    background-image: url(https://static.liveperson.com/static-assets/2022/02/01233808/icon_product-voice_circle-gradient.png);
                                    background-repeat: no-repeat;
                                    background-position: 12px 50%;
                                }

                                &.success {
                                    background-image: url(https://static.liveperson.com/static-assets/2022/02/01233807/icon_product-succes-services_circle-gradient.png);
                                    background-repeat: no-repeat;
                                    background-position: 12px 50%;
                                }
                            }
                        }
                    }

                    &.products,
                    &.curiously-human-ai {
                        .col-lg {
                            .dropdown-section-title {
                                display: none;
                            }
                        }
                    }

                    &.about,
                    &.partners,
                    &.success-services {
                        .col-lg:first-child {
                            .dropdown-section-title {
                                display: none;
                            }
                        }

                        .dropdown-section-title {
                            margin-left: 0;
                            margin-bottom: 16px;
                            margin-top: 10px;
                        }
                    }

                    &.products,
                    &.resources,
                    &.about,
                    &.success-services {
                        .dropdown-featured-container {
                            img {
                                margin-bottom: 16px;

                                @include media-breakpoint-up(lg) {
                                    float: left;
                                    margin-bottom: 0;
                                }
                            }

                            .dropdown-featured-body {
                                @include media-breakpoint-up(lg) {
                                    float: left;
                                    margin-left: 20px;
                                    max-width: 206px;
                                }

                                .subtitle3 {
                                    margin-bottom: 8px;
                                }

                                .featured-body {
                                    font-size: 14px;
                                    line-height: 20px;
                                    font-family: $familySpaceGrotesk;
                                    font-weight: $fontBold;
                                    margin-bottom: 11px;
                                }

                                .dropdown-link-blue {
                                    font-size: 14px;
                                    line-height: 16px;
                                    font-family: $familySpaceGrotesk;
                                    font-weight: $fontBold;
                                    text-decoration: none;
                                }
                            }
                        }
                    }

                    &.products {
                        .col-lg-3 {
                            background: $blue20;
                            padding-left: 30px;
                            .dropdown-section-title {
                                display: block;
                                margin-left: 0;
                                margin-bottom: 16px;
                            }

                            .dropdown-featured-body {
                                margin-left: 0;
                                margin-top: 16px;
                                .dropdown-link-blue {
                                    display: inline;
                                }
                            }
                        }
                    }

                    &.solutions {
                        @include media-breakpoint-down(lg) {
                            .col-lg:nth-child(2) {
                                border-bottom: 0;
                                padding-bottom: 0;
                            }

                            .col-lg:nth-child(3) {
                                padding-top: 0;

                                .dropdown-section-title {
                                    display: none;
                                }
                            }
                        }
                        .col-lg:nth-child(4) {
                            .dropdown-item {
                                &.dropdown-section-title {
                                    padding: 0;
                                    margin-top: 20px;
                                    .dropdown-item-span {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }

                    &.curiously-human-ai {
                        @include media-breakpoint-down(lg) {
                            .col-lg:nth-child(1) {
                                border-bottom: 0;
                                padding-bottom: 0;
                            }

                            .col-lg:nth-child(2) {
                                padding-top: 0;

                                .dropdown-section-title {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: $primaryDark;
    padding-top: 80px;
    padding-bottom: 40px;

    .footer-section {
        @include media-breakpoint-down(lg) {
            margin-bottom: 40px;
        }

        + .footer-section {
            @include media-breakpoint-up(lg) {
                margin-top: 40px;
            }
        }

        .footer-section-title {
            font-family: $familySpaceGrotesk;
            color: $pink100;
            font-weight: $fontBold;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
        }

        .footer-section-link {
            font-family: $familySpaceGrotesk;
            color: $neutral99;
            font-weight: $fontBold;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            display: block;
            margin-top: 16px;
        }
    }

    .footer-legal-container {
        margin-top: 20px;

        @include media-breakpoint-up(lg) {
            margin-top: 80px;
        }

        .footer-social {
            display: block;
            margin: 26px 0;

            @include media-breakpoint-up(lg) {
                float: left;
                display: inline;
                margin: 0;
                margin-top: -1px;
                padding-right: 10px;
            }
            a {
                margin-right: 10px;
                svg {
                    width: 28px !important;
                    height: 28px !important;
                }
            }
        }

        .footer-legal {
            color: $neutral99;
            font-size: 12px;
            line-height: 16px;
            display: inline-block;
            text-decoration: none;
            margin-right: 15px;

            &.footer-legal-link {
                display: block;
                margin-top: 8px;
                @include media-breakpoint-up(lg) {
                    display: inline;
                    margin-top: 0;
                }
            }
        }
    }
}

.news-ticker-container {
    display: none; // Is there a better way to do this?
    position: relative;
    background: $borderGradient;
    text-align: center;
    padding: 10px 0;
    max-height: 200px;
    height: auto;
    @include media-breakpoint-up(lg) {
        max-height: 48px;
    }
    .container {
        position: relative;
        .news-ticker {
            display: block;
            font-size: 15px;
            line-height: 20px;
            color: $neutral99;
            margin-bottom: 8px;
            @include media-breakpoint-up(lg) {
                display: inline;
                margin-right: 16px;
                margin-bottom: 0px;
            }
        }
        .link {
            font-size: 15px;
            line-height: 16px;
            color: $neutral99;
            &::after {
                background-position: -360px -1px;
            }
        }
        .news-ticker-close {
            width: 16px;
            position: absolute;
            top: 41%;
            cursor: pointer;
            right: 16px;
            @include media-breakpoint-up(lg) {
                top: 6px;
            }
        }
    }
}
