.navbar {
    background: $neutral99;
    padding: 0;
    height: 64px;

    .container {
        padding: 0;
    }

    .navbar-collapse {
        justify-content: inherit;

        .navbar-nav {
            margin-left: 180px;

            &.login-link {
                margin-left: 0;

                .nav-item:last-child {
                    margin-right: 0;
                }
            }

            .nav-item {
                margin-right: 18px;

                .nav-link {
                    color: $neutral24;
                    font-weight: $fontBold;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: $familySpaceGrotesk;
                }

                .dropdown-menu {
                    background: $neutral99;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0;
                    margin: 0;
                    margin-top: 13px;
                    border: 0;
                    border-radius: 0;

                    &.container-20 {
                        width: 20%;
                    }

                    &.container-40 {
                        width: 40%;
                    }

                    &.container-60 {
                        width: 60%;
                    }

                    .dropdown-section-gray {
                        background: $neutral95;

                        .tempIcon {
                            float: left;
                        }
                    }

                    .dropdown-section-title {
                        color: $neutral16;
                        text-transform: uppercase;
                        font-family: $familySpaceGrotesk;
                        margin-bottom: 6px;
                        margin-left: 10px;
                    }

                    .tempIcon {
                        margin-right: 6px;
                    }

                    .col {
                        padding-top: 40px;
                        padding-bottom: 48px;
                        padding-right: 40px;
                        padding-left: 0;

                        &:first-child {
                            padding-left: 40px;
                        }

                        .dropdown-item {
                            padding: 10px;
                            color: $neutral12;
                            font-weight: $fontBold;
                            font-family: $familySpaceGrotesk;
                            font-size: 14px;
                            line-height: 20px;
                            white-space: pre-wrap;

                            &:hover {
                                background: $neutral96;
                            }

                            .dropdown-item-content {
                                color: $neutral24;
                                margin-top: 4px;
                                font-weight: $fontNormal;
                            }

                            .dropdown-featured-title {
                                color: $secondaryDark;
                                font-weight: $fontNormal;
                                font-size: 12px;
                                line-height: 16px;
                            }

                            .dropdown-link-blue {
                                font-weight: $fontSemiBold;
                                color: $primaryBlue;
                            }

                            svg {
                                height: 10px;
                                width: 10px;
                            }
                        }
                    }
                }

                &.resources,
                &.about,
                &.solutions {
                    .col:last-child {
                        padding-left: 40px;

                        .dropdown-item {
                            background: $neutral99;
                            border-radius: 48px;
                            padding: 12px 40px 12px 84px;
                            margin-bottom: 12px;

                            &:hover {
                                background: $neutral94;
                            }
                        }
                    }
                }

                &.curiously-human-ai {
                    .col {
                        .dropdown-section-title {
                            display: none;
                        }
                    }
                }

                &.resources,
                &.about,
                &.success-services,
                &.curiously-human-ai {
                    .col:first-child {
                        .dropdown-section-title {
                            display: none;
                        }
                    }

                    .dropdown-featured-container {
                        img {
                            float: left;
                        }

                        .dropdown-featured-body {
                            float: left;
                            margin-left: 20px;
                            max-width: 206px;

                            .subtitle3 {
                                margin-bottom: 8px;
                            }

                            .featured-body {
                                font-size: 14px;
                                line-height: 20px;
                                font-family: $familySpaceGrotesk;
                                font-weight: $fontBold;
                                margin-bottom: 11px;
                            }

                            .dropdown-link-blue {
                                font-size: 14px;
                                line-height: 16px;
                                font-family: $familySpaceGrotesk;
                                font-weight: $fontBold;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

    }
}

footer {
    background-color: $primaryDark;
    padding-top: 80px;

    .footer-section {
        margin-bottom: 40px;

        .footer-section-title {
            color: $neutral70;
            font-weight: $fontBold;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
        }

        .footer-section-link {
            color: $secondaryLight;
            font-weight: $fontBold;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            display: block;
            margin-bottom: 16px;
        }
    }

    .footer-legal {
        color: $secondaryLight;
        font-size: 12px;
        line-height: 16px;
        display: inline-block;
        text-decoration: none;
        margin-right: 15px;

        &.footer-legal-link {}
    }

}