.navbar {
    background: $neutral99;
    padding: 15px 0px;

    @include media-breakpoint-up(lg) {
        padding: 13px 0;
    }

    >.container {
        @include media-breakpoint-down(lg) {
            padding: 0;
        }

        >a img {
            @include media-breakpoint-down(lg) {
                padding-left: 20px;
            }
        }

        .navbar-toggler {
            margin-right: 20px;
        }

        .navbar-collapse {
            justify-content: inherit;

            .navbar-nav {
                margin-left: 0px;

                @include media-breakpoint-up(lg) {
                    margin-left: 180px;
                }

                &.login-link {
                    margin-left: 0;

                    .nav-item:last-child {
                        margin-right: 0;
                        background-color: pink;
                        padding: 16px 20px;

                        @include media-breakpoint-up(lg) {
                            background-color: transparent;
                            padding: 0;
                        }

                        .btn {
                            display: block;
                            padding-top: 12px;
                            padding-bottom: 12px;

                            @include media-breakpoint-up(lg) {
                                margin-top: 3px;
                                padding: 8px 16px;
                            }
                        }
                    }
                }

                .nav-item {
                    border-bottom: 1px solid $neutral84;

                    @include media-breakpoint-up(lg) {
                        margin-right: 18px;
                        border: 0;
                    }

                    .nav-link {
                        color: $neutral24;
                        font-weight: $fontBold;
                        font-size: 14px;
                        line-height: 20px;
                        font-family: $familySpaceGrotesk;
                        padding: 18px 20px;

                        @include media-breakpoint-up(lg) {
                            padding: 9px;
                        }

                        &::after {
                            float: right;
                            margin-right: 8px;
                            margin-top: 6px;

                            @include media-breakpoint-up(lg) {
                                float: none;
                                margin-right: 0px;
                                margin-top: 0px;
                            }
                        }

                        &.show {
                            @include media-breakpoint-down(lg) {
                                background: $neutral96;
                                border-bottom: 1px solid $neutral84;
                            }
                        }
                    }

                    .dropdown-menu {
                        padding: 0;
                        margin: 0;
                        border: 0;
                        border-radius: 0;

                        .container {
                            padding: 0;
                        }

                        @include media-breakpoint-up(lg) {
                            left: 50%;
                            transform: translateX(-50%);
                            margin-top: 13px;
                        }

                        @include media-breakpoint-up(lg) {
                            &.container-20 {
                                width: 20%;
                            }

                            &.container-40 {
                                width: 40%;
                            }

                            &.container-60 {
                                width: 60%;
                            }
                        }

                        .dropdown-section-gray {
                            background: $neutral95;

                            .tempIcon {
                                float: left;
                            }
                        }

                        .dropdown-section-title {
                            color: $neutral16;
                            text-transform: uppercase;
                            font-family: $familySpaceGrotesk;
                            margin-bottom: 14px;

                            @include media-breakpoint-up(lg) {
                                margin-bottom: 6px;
                                margin-left: 10px;
                            }
                        }

                        .tempIcon {
                            margin-right: 6px;
                        }

                        .col-lg {
                            background: $neutral96;
                            padding: 24px 34px;
                            border-bottom: 1px solid $neutral84;

                            @include media-breakpoint-up(lg) {
                                background: $neutral99;
                                padding-top: 40px;
                                padding-bottom: 48px;
                                padding-right: 30px;
                                padding-left: 0;
                                border: 0;
                            }

                            &:first-child {
                                @include media-breakpoint-up(lg) {
                                    padding-left: 30px;
                                }
                            }

                            .dropdown-item {
                                color: $neutral12;
                                font-weight: $fontBold;
                                font-family: $familySpaceGrotesk;
                                font-size: 14px;
                                line-height: 20px;
                                white-space: pre-wrap;
                                padding: 10px 0;

                                @include media-breakpoint-up(lg) {
                                    padding: 10px;
                                }

                                &:hover {
                                    background: $neutral96;
                                }

                                .dropdown-item-content {
                                    color: $neutral24;
                                    margin-top: 4px;
                                    font-weight: $fontNormal;
                                }

                                .dropdown-featured-title {
                                    color: $secondaryDark;
                                    font-weight: $fontNormal;
                                    font-size: 12px;
                                    line-height: 16px;
                                }

                                .dropdown-link-blue {
                                    font-weight: $fontSemiBold;
                                    color: $primaryBlue;
                                }

                                svg {
                                    height: 10px;
                                    width: 10px;
                                }
                            }
                        }
                    }

                    &.resources,
                    &.about,
                    &.solutions {
                        .col-lg:last-child {
                            background: $neutral92;
                            border-bottom: 0;

                            @include media-breakpoint-up(lg) {
                                padding-left: 40px;
                                background: $neutral96;
                            }

                            .dropdown-section-title {
                                margin-left: 0;
                                margin-bottom: 16px;
                            }

                            .dropdown-item {
                                background: $neutral99;
                                border-radius: 48px;
                                padding: 12px 40px 12px 84px;
                                margin-bottom: 12px;

                                &:hover {
                                    background: $neutral94;
                                }
                            }
                        }
                    }

                    &.curiously-human-ai {
                        .col-lg {
                            .dropdown-section-title {
                                display: none;
                            }
                        }
                    }

                    &.resources,
                    &.about,
                    &.success-services {
                        .col-lg:first-child {
                            .dropdown-section-title {
                                display: none;
                            }
                        }

                        .dropdown-section-title {
                            margin-left: 0;
                            margin-bottom: 16px;
                            margin-top: 10px;
                        }

                        .dropdown-featured-container {
                            img {
                                margin-bottom: 16px;

                                @include media-breakpoint-up(lg) {
                                    float: left;
                                    margin-bottom: 0;
                                }
                            }

                            .dropdown-featured-body {
                                @include media-breakpoint-up(lg) {
                                    float: left;
                                    margin-left: 20px;
                                    max-width: 206px;
                                }

                                .subtitle3 {
                                    margin-bottom: 8px;
                                }

                                .featured-body {
                                    font-size: 14px;
                                    line-height: 20px;
                                    font-family: $familySpaceGrotesk;
                                    font-weight: $fontBold;
                                    margin-bottom: 11px;
                                }

                                .dropdown-link-blue {
                                    font-size: 14px;
                                    line-height: 16px;
                                    font-family: $familySpaceGrotesk;
                                    font-weight: $fontBold;
                                    text-decoration: none;
                                }
                            }
                        }
                    }

                    &.solutions {
                        @include media-breakpoint-down(lg) {
                            .col-lg:nth-child(2) {
                                border-bottom: 0;
                                padding-bottom: 0;
                            }

                            .col-lg:nth-child(3) {
                                padding-top: 0;

                                .dropdown-section-title {
                                    display: none;
                                }
                            }
                        }
                    }

                    &.curiously-human-ai {
                        @include media-breakpoint-down(lg) {
                            .col-lg:nth-child(1) {
                                border-bottom: 0;
                                padding-bottom: 0;
                            }

                            .col-lg:nth-child(2) {
                                padding-top: 0;

                                .dropdown-section-title {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

}

footer {
    background-color: $primaryDark;
    padding-top: 80px;
    padding-bottom: 40px;

    .footer-section {
        @include media-breakpoint-down(lg) {
            margin-bottom: 40px;
        }

        +.footer-section {
            @include media-breakpoint-up(lg) {
                margin-top: 40px;
            }
        }

        .footer-section-title {
            font-family: $familySpaceGrotesk;
            color: $pink100;
            font-weight: $fontBold;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
        }

        .footer-section-link {
            font-family: $familySpaceGrotesk;
            color: $neutral99;
            font-weight: $fontBold;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            display: block;
            margin-top: 16px;
        }
    }

    .footer-legal-container {
        margin-top: 20px;

        @include media-breakpoint-up(lg) {
            margin-top: 80px;
        }

        .footer-legal {
            color: $neutral99;
            font-size: 12px;
            line-height: 16px;
            display: inline-block;
            text-decoration: none;
            margin-right: 15px;

            &.footer-legal-link {}
        }
    }

}