.sticky-boxes-wrapper {
    transition: opacity 0.2s ease-in-out;
    &:not(.ready) {
        opacity: 0;
    }
    .sticky-box {
        margin-top: 32px;

        p.h6 {
            margin-bottom: 8px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .sticky-box {
        + {
            .sticky-box {
                margin-top: 4.5rem;
            }
        }
    }
    .sticky-boxes-wrapper {
        position: relative;
        ~ {
            * {
                position: relative;
            }
        }
        &.done {
            .sticky-box:not(:last-child) {
                visibility: hidden;
            }
            .sticky-box:last-child {
                .content-box {
                    position: absolute !important;
                    top: auto !important;
                    bottom: 0;
                }
            }
        }
        [data-sticky-boxes] {
            position: relative;
            padding: 0;
            .sticky-box {
                top: 0;
                width: 100%;
                height: 400px;
                position: sticky;
                &:first-child {
                    height: 100vh;
                }
                .content-box {
                    display: flex;
                    align-items: center;
                    align-self: flex-start;
                    justify-content: center;
                    width: 100%;
                    padding-top: 56px;
                    p.h6 {
                        transition-property: opacity, transform;
                        transition-duration: 0.6s;
                        transition-timing-function: ease-in-out;
                        transition-delay: 0.1s;
                        transform: translateY(5px);
                        opacity: 0;
                    }
                    h2 {
                        transition-property: opacity, transform;
                        transition-duration: 0.6s;
                        transition-timing-function: ease-in-out;
                        transition-delay: 0.5s;
                        transform: translateY(5px);
                        opacity: 0;
                    }
                    p,
                    .link {
                        transition-property: opacity, transform;
                        transition-duration: 0.6s;
                        transition-timing-function: ease-in-out;
                        transition-delay: 1s;
                        transform: translateY(5px);
                        opacity: 0;
                    }
                    img {
                        transition-property: opacity, transform;
                        transition-duration: 0.6s;
                        transition-timing-function: ease-in-out;
                        transition-delay: 0.5s;
                        transform: translateY(25%);
                        opacity: 0;
                    }
                }
                &:not(:first-child) {
                    .content-box {
                        position: fixed;
                    }
                }
                &.active {
                    .content-box {
                        top: 0;
                        left: 0;
                        height: 100vh;
                        p.h6 {
                            transform: translateY(0);
                            opacity: 1;
                        }
                        h2 {
                            transform: translateY(0);
                            opacity: 1;
                        }
                        p,
                        .link {
                            transform: translateY(0);
                            opacity: 1;
                        }
                        img {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                    &:first-child {
                        .content-box {
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}
