.sticky-boxes-wrapper {
	transition: opacity 0.2s ease-in-out;
	&:not(.ready){
		opacity: 0;
	}
	.sticky-box {
		+ {
			.sticky-box {
				margin-top: 4.5rem;
			}
		}
		p:last-of-type {
			margin-bottom: 1.25rem;
		}
		img {
			border-radius: 1rem;
		}
		.display-4 {
			font-size: 32px;
			line-height: 1.2;
			font-family: "Space Grotesk", Roboto;
			font-weight: 700;
			 span {
				font-family: inherit;
				font-size: inherit;
				line-height: inherit;
			 }
		}
	}
}
@media screen and (min-width: 1200px) {
	.sticky-boxes-wrapper {
		position: relative;
		~ {
			* {
				position: relative;
			}
		}
		&.done {
			.sticky-box:not(:last-child){
				visibility: hidden;
			}
			.sticky-box:last-child{
				.content-box {
					position: absolute !important;
					top: auto !important;
					bottom: 0;
				}
			}
		}
		[data-sticky-boxes] {
			position: relative;
			padding: 0;
			.sticky-box {
				top: 0;
				width: 100%;
				height: 120vh;
				position: sticky;
				.content-box {
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					align-self: flex-start;
					justify-content: center;
					width: 100%;
					height: 100vh;
					padding-top: 56px;
					.display-4 {
						font-size: 56px;
					}
					h2 {
						transition-property: opacity, transform;
						transition-duration: 0.75s;
						transition-timing-function: ease-in-out;
						opacity: 0;
					}
					h3 {
						position: relative;
						display: inline-block;
						overflow: hidden;
						span {
							display: block;
							transform: translateY(110%);
							transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
							transition-delay: 0.05s;
						}
					}
					.content {
						max-width: 420px;
					}
					p {
						transition-property: opacity, transform;
						transition-duration: 0.6s;
						transition-timing-function: ease-in-out;
						transition-delay: 0.5s;
						transform: translateY(5px);
						opacity: 0;
						+ {
							p {
								transition-property: opacity, transform;
								transition-duration: 0.45s;
								transition-timing-function: ease-out;
								transition-delay: 1.35s;
							}
						}
						&:last-of-type {
							margin-bottom: 1rem;
						}
					}
					img {
						margin-right: 4rem;
						transition-property: opacity, transform;
						transition-duration: 0.6s;
						transition-timing-function: ease-in-out;
						transform: translateY(25%);
						opacity: 0;
					}
				}	
				&:not(:first-child) {
					.content-box {
						position: fixed;
					}
				}
				&.active {
					.content-box {
						top: 0;
						left: 0;
						h3 {
							span {
								transform: translateY(0);
							}
						}
						h2 {
							opacity: 1;
						}
						p {
							transform: translateY(0);
							opacity: 1;
						}
						img {
							transform: translateY(0);
							opacity: 1;
						}
					}
				}
			}
		}
	}
}