// .fw-bold = bold
// .fst-italic = italic

* {
    font-family: $familyInter;
    color: $neutral12;
    font-size: 16px;
    line-height: 24px;

    @include media-breakpoint-up(lg) {
        font-size: 18px;
        line-height: 28px;
    }
}

.font-display {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    font-size: 32px;
    line-height: 36px;

    @include media-breakpoint-up(lg) {
        font-size: 64px;
        line-height: 72px;
    }
}

h1 {
    background: $h1Gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1,
.h1 {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    font-size: 32px;
    line-height: 36px;

    @include media-breakpoint-up(lg) {
        font-size: 48px;
        line-height: 52px;
    }
}

h2,
.h2 {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    font-size: 24px;
    line-height: 32px;

    @include media-breakpoint-up(lg) {
        font-size: 36px;
        line-height: 44px;
    }
}

h3,
.h3 {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    font-size: 21px;
    line-height: 28px;

    @include media-breakpoint-up(lg) {
        font-size: 24px;
        line-height: 32px;
    }
}

h4,
.h4 {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    font-size: 18px;
    line-height: 24px;

    @include media-breakpoint-up(lg) {
        font-size: 21px;
        line-height: 28px;
    }
}

h5,
.h5 {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    font-size: 16px;
    line-height: 24px;

    @include media-breakpoint-up(lg) {
        font-size: 18px;
        line-height: 28px;
    }
}

h6,
.h6 {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    font-size: 12px;
    line-height: 16px;

    @include media-breakpoint-up(lg) {
        font-size: 12px;
        line-height: 16px;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    s {
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        text-decoration-color: $neutral12;
    }
    mark {
        &.has-vivid-purple-color {
            font-family: inherit;
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
            text-decoration: none;
            background: $h1Gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 1px;
        }
        &.has-pale-pink-color {
            font-family: inherit;
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
            text-decoration: none;
            background: $EaiGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 1px;
        }
    }
}

.lead {
    font-family: $familyInter;
    font-size: 21px;
    line-height: 28px;

    @include media-breakpoint-up(lg) {
        font-size: 24px;
        line-height: 32px;
    }
}

.body1 {
    font-family: $familyInter;
    font-size: 16px;
    line-height: 24px;

    @include media-breakpoint-up(lg) {
        font-size: 18px;
        line-height: 28px;
    }
}

.body2 {
    font-family: $familyInter;
    font-size: 16px;
    line-height: 24px;

    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 24px;
    }
}

.quote1 {
    font-family: $familyInter;
    font-size: 21px;
    line-height: 28px;
    font-style: italic;

    @include media-breakpoint-up(lg) {
        font-size: 24px;
        line-height: 32px;
    }
}

.quote2 {
    font-family: $familyInter;
    font-size: 24px;
    line-height: 32px;
    font-style: italic;

    @include media-breakpoint-up(lg) {
        font-size: 30px;
        line-height: 40px;
    }
}

.card1 {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    font-size: 21px;
    line-height: 28px;
}

.card2 {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    font-size: 21px;
    line-height: 28px;

    @include media-breakpoint-up(lg) {
        font-size: 24px;
        line-height: 32px;
    }
}

.subtitle1 {
    font-family: $familyInter;
    font-size: 16px;
    line-height: 24px;
}

.subtitle2 {
    font-family: $familyInter;
    font-size: 14px;
    line-height: 20px;
}

.subtitle3 {
    font-family: $familyInter;
    font-size: 12px;
    line-height: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    + p,
    + .rich-container {
        margin-top: 16px;

        @include media-breakpoint-up(lg) {
            margin-top: 24px;
        }
    }

    + .vimeoContainer {
        margin-top: 24px;

        @include media-breakpoint-up(lg) {
            margin-top: 48px;
        }
    }
}

p {
    &:last-of-type {
        margin-bottom: 0;
    }
}

span.space-mono {
    font-family: $familySpaceMono;
    font-size: inherit;
    line-height: inherit;
}

.link {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    color: $primaryBlue;
    text-decoration: none;
    display: inline-block;

    &::after {
        content: '';
        background-image: url(https://static.liveperson.com/static-assets/2023/02/14115222/arrow-icon-sprite-20px%402x.png);
        background-repeat: no-repeat;
        background-size: 400px 20px;
        position: absolute;
        width: 18px;
        height: 24px;
        background-position: -120px 2px;
        margin-left: 4px;

        @include media-breakpoint-up(lg) {
            background-position: -120px 5px;
        }
    }

    &:hover {
        color: $primaryBlueVariant;

        &::after {
            background-position: -140px 2px;

            @include media-breakpoint-up(lg) {
                background-position: -140px 5px;
            }
        }
    }

    &.link-mt-large {
        margin-top: 32px;
    }

    &.link-mt-small {
        margin-top: 15px;
    }

    &.link-no-arrow {
        &::after {
            background: none;
        }
    }
}

.btn {
    font-family: $familySpaceGrotesk;
    font-weight: $fontBold;
    font-size: 16px;
    line-height: 24px;
    border-radius: 24px;
    padding: 12px 32px;

    &.btn2 {
        font-size: 14px;
        line-height: 16px;
        border-radius: 16px;
        padding: 8px 16px;
    }

    &.btn-primary {
        color: $neutral99;
        background: $primaryBlue;

        &:hover {
            background: $primaryBlueVariant;
        }
        &.link {
            padding-right: 42px;
            &::after {
                content: '';
                background-image: url(https://static.liveperson.com/static-assets/2023/02/14115222/arrow-icon-sprite-20px%402x.png);
                background-repeat: no-repeat;
                background-size: 400px 20px;
                position: absolute;
                width: 18px;
                height: 24px;
                background-position: -360px 2px;
                margin-left: 4px;

                @include media-breakpoint-up(lg) {
                    background-position: -360px 2px;
                }
            }
        }
    }

    &.btn-outline-secondary {
        color: $primaryBlue;
        border-color: $primaryBlue;

        &:hover {
            color: $neutral99;
            background: $primaryBlue;
            border-color: $primaryBlue;
        }
    }

    &.btn-link {
        color: $primaryBlue;
        text-decoration: none;
    }
}

.pill {
    border-radius: 20px;
    padding: 8px 20px;
    border: 1px solid $neutral64;

    &.pill-active {
        background: $neutral99;
    }
}

.white-space-break-spaces {
    white-space: break-spaces;
}

.text-neutral-99 {
    color: $neutral99 !important;
    -webkit-text-fill-color: inherit !important;
}
