// Colors
$primaryBlue: #3863E5;
$primaryBlueVariant: #204AC5;
$primaryOrange: #FA772E;
$primaryLight: #fcfcfc;
$primaryDark: #101040;

$rainbow: linear-gradient(90deg, #AAD5EA 0%, #C1C1F3 33.3%, #F7B1B1 66.6%, #F7B995 100%);

$secondaryLight: #ffffff;
$secondaryDark: #000000;

$neutral12: #1C1D22;
$neutral24: #363944;
$neutral30: #4D4D4D;
$neutral45: #737373;
$neutral64: #8895BF;
$neutral70: #B2B2B2;
$neutral72: #AFB3C0;
$neutral80: #C6C9D2;
$neutral84:#D1D4DB;
$neutral88:#C6C9D2;
$neutral92:#E7E8EC;
$neutral95: #f2f2f2;
$neutral96: #F4F4F6;
$neutral99: #fcfcfc;

$lavendar20:#EFEFFC;

$blue20:#E7F2F7;

$borderGradient:linear-gradient(90deg, #3863E5 0%, #8D46EB 43.18%, #E849B7 86.36%);

// Font
$fontBold: 700;
$fontSemiBold: 600;
$fontNormal: 400;
$familySpaceGrotesk: 'Space Grotesk',
Roboto;
$familyInter: 'Inter',
Arial;