// Colors
$primaryBlue: #2F5DE4;
$primaryBlueVariant: #204AC5;
$primaryOrange: #FA772E;
$primaryLight: #fcfcfc;
$primaryDark: #101040;
$secondaryLight: #ffffff;
$secondaryDark: #000000;
$neutral12: #1C1D22;
$neutral30: #4D4D4D;
$neutral45: #737373;
$neutral64: #989EAE;
$neutral70: #B2B2B2;
$neutral72: #AFB3C0;
$neutral80: #C6C9D2;
$neutral84:#D1D4DB;
$neutral92:#E7E8EC;
$neutral95: #f2f2f2;
$neutral99: #fcfcfc;

// Font
$fontBold: 700;
$fontSemiBold: 600;
$fontNormal: 400;
$familySpaceGrotesk: 'Space Grotesk',
Roboto;
$familyInter: 'Inter',
Arial;