/* Cheating, need to clean this up */
  
.brand {
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 10;
  max-height: 72px;
  padding-top: 24px;
  padding-bottom: 26px;
}




.text-amounts {
  font-family: Inter, sans-serif;
  color: #1c1d22;
  font-weight: 700;
}

.h3-numbers {
  font-family: 'Roboto Mono', sans-serif;
  color: #ff6900;
}

.graph-container {
  overflow: hidden;
  min-width: 350px;
  border-radius: 16px;
}

.value-item.mb-2 {
  min-height: 0px;
  margin-bottom: 5px;
  padding: 20px 40px 20px 20px;
  background-color: #fcfcfc;
}

.value-chart {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fcfcfc;
  text-align: center;
}

.value-text {
  padding-left: 10px;
  font-family: Inter, sans-serif;
  color: #1c1d22;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.value-text.text-20 {
  padding-left: 20px;
  font-size: 20px;
}

.bc-table-title {
  margin-bottom: 0px;
  font-weight: 400;
}

.bc-table-title.font-orange {
  color: #ff6900;
  font-weight: 700;
}

.bc-table-title.font-orange {
  color: #ff6900;
  font-weight: 700;
}

.bc-table-title.font-pri-blue {
  color: #3863e5;
  font-weight: 700;
}

.bc-table-number {
  margin-bottom: 0px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.bc-table-number.font-orange {
  color: #3863e5;
}

.bc-table-number.large {
  font-size: 20px;
}

.bc-table-number.font-orange {
  color: #ff6900;
}

.bc-table-number.table-year-header {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.bc-table-number.font-pri-blue {
  color: #3863e5;
  font-weight: 700;
}

.bc-table-container {
  margin-bottom: 24px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 4px;
  background-color: #fcfcfc;
}

.small-image-fixed {
  max-width: 64px;
}

.bc-table-wrapper {
  padding: 40px;
  border-radius: 16px;
  background-color: #f4f4f6;
}

.row-heading {
  margin-top: 0px;
  margin-left: -20px;
  padding-top: 10px;
}

.row-heading.last-row-heading-hack {
  color: #2e305f;
}

.table-footer {
  margin-top: 10px;
  margin-left: -40px;
  padding: 10px 0px 10px 40px;
  border-top: 2px solid #3f416c;
}

.text-span-7 {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}

.heading-31 {
  margin-left: -20px;
}

.heading-31.font-roboto {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.value-item-2.mb-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 0px;
  margin-bottom: 5px;
  padding: 20px 40px 20px 20px;
  background-color: #2e305f;
}

.list-item-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fcfcfd;
}

.table-footer-2 {
  margin-top: 10px;
  margin-left: -40px;
  padding: 10px 0px 10px 40px;
  border-top: 2px solid #3f416c;
}

.value-chart-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #090c43;
  text-align: center;
}

.text-block-8 {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #f0f2fa;
  font-size: 12px;
}

.h3-numbers-2 {
  font-family: 'Roboto Mono', sans-serif;
  color: #ff6900;
}

.bc-table-container-2 {
  margin-bottom: 24px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 4px;
  background-color: #2e305f;
}

.text-amounts-2 {
  font-family: 'Roboto Mono', sans-serif;
  color: #ff6900;
  font-weight: 700;
}

.div-block-33 {
  display: block;
  border-bottom: 1px solid #2e305f;
}

.bc-table-wrapper-2 {
  padding: 40px;
  border-radius: 16px;
  background-color: #1d1f52;
}

@media screen and (min-width: 1920px) {


  .graph-container {
    overflow: hidden;
    width: 100%;
    padding-top: 0px;
    border-radius: 16px;
    background-color: transparent;
    text-align: center;
  }

  .value-item {
    padding: 20px 60px 20px 40px;
    background-color: #2e305f;
  }

  .value-item.mb-2 {
    margin-bottom: 5px;
  }

  .value-text {
    font-weight: 700;
  }

  .value-item-2 {
    padding: 20px 60px 20px 40px;
    background-color: #2e305f;
  }

  .value-item-2.mb-2 {
    margin-bottom: 5px;
  }

  .value-chart-2 {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #090c43;
  }



  .text-amounts-2 {
    font-family: 'Roboto Mono', sans-serif;
    color: #ff6900;
    font-weight: 400;
  }
}

@media screen and (max-width: 991px) {
 

  .brand-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .brand-logo.plus-symbol {
    margin: 10px auto;
  }

  .bc-table-container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .bc-table-wrapper {
    padding: 10px;
  }

  .image-inline {
    margin-bottom: 24px;
  }

  .text-block-8 {
    display: block;
    margin-bottom: 8px;
    text-align: left;
  }

}
/* End Cheating */


.calc-container {
  width: 100%;
  margin: auto;
  height: 100%;
  background: $neutral96;
  padding: 72px 32px;
  margin-top:72px;
  border-radius: 8px;
  display: flex;
  flex-flow: initial;
  opacity: 0;
  transition: 1s opacity ease;
  @include media-breakpoint-down(lg) {
      flex-flow: column;
  }
  &.loaded {
    opacity: 1;
  }
}

.calc-left {
  width: 34%;
  display: inline-block;

  @include media-breakpoint-down(lg) {
      width: 100%;
  }
}

.calc-right {
  width: 59%;
  margin-left: 80px;
  padding: 0 32px;
  display: inline-block;
  border-radius: 16px;

  @include media-breakpoint-down(lg) {
      width: 100%;
      margin-left: 0;
      padding: 0;
  }
}

.slide-container {
  width: 100%;
}

.slide-container p {
  margin-bottom: 16px;
  margin-top: 5px;
  font-weight: 700;
  font-family: $familySpaceGrotesk;
  font-size: 18px;
  line-height: 24px;
  width: auto;
  float: left;
  display: inline;

  @include media-breakpoint-down(lg) {
      margin-bottom: 8px;
  }
}

.slide-container .industry-select {
  appearance: none;
  background: #2E305F;
  border: 0;
  border-radius: 8px;
  color: #C5C7CE;
  width: 100%;
  padding: 10px 15px;
  outline: none !important;
}


.jqslider-styles.ui-slider {
  height: 4px;
  background: #DDDFE4;
  border-radius: 8px;
  border: 0;
  clear: both;
  margin-bottom: 50px;
}

.jqslider-styles.ui-slider:hover {
  opacity: 1;
}

.jqslider-styles.ui-slider .ui-slider-range {
  background: $borderGradient;
}

.jqslider-styles.ui-slider .ui-slider-handle {
  width: 16px;
  height: 16px;
  background: #fcfcfd;
  cursor: pointer;
  border: 4px solid #363944;
  border-radius: 50%;
  outline: none;
}

.slider-value {
  -webkit-appearance: none;
  appearance: none;
  background: $neutral99;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-family: $familySpaceGrotesk;
  padding-left: 0;
  color: #363944;
  float: right;
  width: 156px;
  padding: 2px 12px;

  @include media-breakpoint-down(lg) {
      float: left;
      width: 100%;
      margin-bottom: 12px;
  }
}

.contain {
  overflow: hidden;
  max-width: 1080px;
  margin: 0 auto;
}

.biz-case {

  .glow-container {
      box-shadow: none;
      max-width: 100%;
  }

  .section-default,
  .navbar {
      max-width: 100%;
  }

  .columns.reverse-margin,
  .columns.bc-table-col {
      flex-wrap: nowrap !important;
      align-items: center;
      padding:4px 0;
  }

  .columns.bc-table-col.bg-blue {
      background-color: #e7f2f7;
  }

  .columns.bc-table-col{
    h4.row-heading{
      margin-bottom:16px;
    }
    h3.heading-31{
      margin-top:20px;
      margin-bottom:16px;
    }
  }

  .bar-chart {
      height: 100%;
  }

  .bar-chart p {
      text-align: center;
      margin: .5em 0 1em;
  }

  .bar-chart .row {
      position: relative;
      line-height: 1.25em;
      margin-bottom: 3em;
      height: 500px;
  }

  .bar-chart .row .segment {
      flex: 1 100%;
      display: block;
      position: relative;
      align-self: flex-end;
  }

  .bar-chart .row .segment:before {
      content: "";
      display: block;
      width: 100%;
      bottom: 0;
      position: absolute;
      height: 1px;
      background-color: #414245;
      z-index: -1;
  }

  .bar-chart .label {
      display: block;
      font-size: .85em;
  }

  /* X Axis */
  .bar-chart .x-axis {
      display: flex;
      height: 100%
  }

  .bar-chart .x-axis .year {
      flex: 1;
  }

  .bar-chart .x-axis .year .col {
      display: flex;
      height: 100%;
      flex-flow: column-reverse;
      margin: 0 10%;
  }

  .bar-chart .x-axis .year .col .bar {
      /* flex: 1; */
      background-color: #95CBE5;
      /* align-self: flex-end; */
      position: relative;
      /* margin: 0 25%; */
      height: 0px;
      -webkit-transition: height, 1s ease;
      -moz-transition: height, 1s ease;
      -ms-transition: height, 1s ease;
      transition: height, 1s ease;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .bar-chart .x-axis .year .col .bar+.bar {
      background-color: #F5A77A;
  }

  .bar-chart .x-axis .label {
      align-self: flex-end;
      padding: .5em 0 0;
      line-height: 1em;
      text-align: center;
  }

  .bar-chart .x-axis .label:not(.number) {
      color: $neutral12;
      padding-top: 12px;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      font-family: $familyInter;
  }

  .bar-chart .x-axis .year .col .bar .tooltip,
  .bar-chart .x-axis .year .col .bar .tooltip:after {
      display: block;
      position: absolute;
      z-index: 2;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  }

  .bar-chart .x-axis .year .col .bar .tooltip {
      font-size: 20px;
      color: $neutral12;
      padding: 0;
      font-family: $familyInter;
      text-align: center;
      font-weight: 400;
  }

  /* Legend */
  .bar-chart .legend {
      margin: 0 auto;
      text-align: center;
      padding: 0;
      font-size: .875em;
  }

  .bar-chart .legend li {
      display: inline-block;
      padding: .25em 1em;
      line-height: 1em;
      font-family: $familyInter;
      color: $neutral12;
  }

  .bar-chart .legend li:before {
      content: "";
      margin-right: .5em;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #F5A77A;
      border-radius: 100px;
      top: 5px;
      position: relative;
  }

  .bar-chart .legend li:nth-child(2):before {
      background-color: #95CBE5;
  }

  .bar-chart .estimated-total-benefit {
      font-family: $familySpaceGrotesk;
      font-weight: 700;
      font-size: 56px;
      line-height: 40px;
      color: $neutral12;
      margin-bottom: 20px;
  }

  .bar-chart .estimated-total-benefit-text {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
  }

  .bar-chart .total-year-benefit {
      font-family: $familySpaceGrotesk;
      font-size: 21px;
      line-height: 28px;
      font-weight: bold;
      margin-bottom: 12px;
  }

  .progress-ring {
    text {
        font-family: 'Space Grotesk', sans-serif;

        font-weight: 700;
        font-size: 20px;

        &[id*="-val"] {
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 700;
            font-size: 66px;
            letter-spacing: -2px;
        }
    }

    .progress-ring__circle {
        transition: 0.35s stroke-dashoffset;
        // axis compensation
        transform: rotate(-90deg);
        transform-origin: 50% 50%;

    }

    .progress-ring__center {
        transition: 0.35s stroke-dashoffset;
        // axis compensation
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }
  }

  .circle-amount {
      font-family: 'Space Grotesk', sans-serif;
      font-weight: 700;
      letter-spacing: -2px;
      background: linear-gradient(90deg, #3863E5 0%, #8D46EB 43.18%, #E849B7 86.36%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 56px;
      position: absolute;
      line-height: 84px;
      transform: translateX(-50%);
      left: 50%;
      top: 127px;
  }
  
  .circle-text {
      font-family: 'Space Grotesk', sans-serif;
      font-weight: 700;
      font-size: 21px;
      line-height: 28px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 211px;
  }

  @include media-breakpoint-down(lg) {
      .bc-table-wrapper {
          overflow: scroll;

          .bc-table-container {
              width: 700px;

              .column{
                flex-shrink: 1;
                margin-top:0 !important;
                &.col-lg-4 {
                  padding-right: 20px;

                  .row-heading,
                  .heading-31 {
                      margin-left: 0;
                  }
                }
              }
          }
      }
  }

  .roi-content{
    h2{
      margin-bottom:24px;
    }
    .roi-special-row{
      margin-top:64px;
      .roi-content-img{
        display: flex;
        justify-content: space-around;
        align-items: start;
        img{
          width:40%;
        }
      }
    }
  } 

}