#elpi_2023_html {
    z-index: 9999;
    position: fixed;
    bottom: 10px;
    right: 0;
}

.LPMcontainer {
    margin-bottom: 15px !important;
    margin-right: 15px !important;
}

#elpi_2023_html .elpi-2023-container {
    position: relative;
}

#elpi_2023_html .elpi-2023-container .elpi-bubbles-container {
    margin-right: 12px;
}

#elpi_2023_html .elpi-2023-container div {
    clear: right;
    float: right;
    position: relative;
}

#elpi_2023_html .elpi-2023-container .elpi-bubbles-container .epli-close-button {
    float: right;
    margin-bottom: 8px;
}

#elpi_2023_html .elpi-2023-container .elpi-bubbles-container .elpi-bubble {
    background: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 1.991773009300232px 11.950637817382812px 0 rgba(0, 0, 0, 0.2);
    font-family: Inter !important;
    font-size: 16px;
    line-height: 19px;
    display: inline;
    clear: right;
    float: right;
    margin-bottom: 8px;
}

#elpi_2023_html .elpi-2023-container .epli-engagement-container .epli-engagement-img {
    width: 90px;
    cursor: pointer;
}

#elpi_2023_html .elpi-2023-container .elpi-bubbles-container .elpi-bubble {
    color: #1c1d22;
}

/* new chat styles */
.lp_header {
    border-radius: 16px 16px 0 0 !important;
    background-color: #0d0943 !important;
    height: 64px !important;
    border-color: #ffffff !important;
    border-width: 0 0 1px 0 !important;
}

.lp_header .lp_title-text {
    color: #fafafa !important;
    font-family: 'Space Grotesk', Roboto !important;
    font-size: 15px;
    font-weight: 700 !important;
    line-height: 19px;
    letter-spacing: 0px;
}

.lp_agent .lpc_message {
    background-color: #060751 !important;
    border: 0 !important;
    padding: 8px 16px !important;
}

.lp_agent .lpc_message .lp_title_text {
    color: #ffffff !important;
}

.lp_visitor .lpc_message {
    background-color: #5d51e4 !important;
    border: 0 !important;
    padding: 8px 16px !important;
}

.lp_visitor .lpc_message .lp_title_text {
    color: #ffffff !important;
}

.chips-wrapper .chips-item-container button {
    border-color: #2f2fc5 !important;
    background: none !important;
    color: #2f2fc5 !important;
    border-radius: 20px !important;
}

.lp_location_bottom {
    height: 54px !important;
}

.lp_location_bottom .lp_bottom_area {
    padding-top: 6px !important;
}

.lp_location_bottom .lp_bottom_area .lp_input_area .lpview_form_textarea {
    color: #a6a6a6 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    font-family: 'Inter', Arial !important;
}

.lp_location_bottom .lp_bottom_area .lp_send_button {
    bottom: 14px !important;
}
/* end new chat styles */

#ot-sdk-btn.ot-sdk-show-settings,
#ot-sdk-btn.optanon-show-settings {
    font-size: 12px;
    line-height: 1.66;
    border: 0;
    color: #ffffff !important;
    background: none;
    padding: 0;
    background: none !important;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.ch-three section.main #ch3DV1 .pie-slices .pie-slice {
    outline: 0;
}
