#elpi_2023_html {
    z-index: 9999;
}
/* #elpi_2023_html .elpi-2023-container .elpi-bubbles-container .elpi-bubble {
    color: #1c1d22;
} */

#ot-sdk-btn.ot-sdk-show-settings,
#ot-sdk-btn.optanon-show-settings {
    font-size: 12px;
    line-height: 1.66;
    border: 0;
    color: #ffffff !important;
    background: none;
    padding: 0;
    background: none !important;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.ch-three section.main #ch3DV1 .pie-slices .pie-slice {
    outline: 0;
}
